<ion-view view-title="管理菜品" cache-view="false">
    <ion-nav-buttons side="left">
        <button class="button button-clear button-calm" data-ng-click="goState('overview')"><i
                class="icon ion-ios-arrow-back"></i></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a class=" button button-clear button-calm " style="padding: 0 3px 0 10px; line-height: 38px; "
           href="#/manage-dishes-Stock">
            菜品库存
        </a>
    </ion-nav-buttons>


    <ion-content class="no-header">

        <div style="padding: 10px; text-align: center;">

            <button class="button button-calm" data-ng-click="addQtc()">亲 赶快添加你的其他菜吧</button>

        </div>
        <div class="item item-divider">
            <ion-list>
                <ion-item ng-repeat="item in items">
                    <img ng-src="{{item.url}}" style="width: 100%; height: 128px">

                    <p>{{item.name}}</p>

                    <p><i class="icon ion-social-yen"></i>{{item.price}}</p>

                </ion-item>
            </ion-list>
            <button data-ng-if="imgs.length < 4" class="button button-balanced" data-ng-click="addNscPic()"><i
                    class="icon ion-android-add-circle"></i></button>
        </div>
    </ion-content>

</ion-view>