<ion-view view-title="登录" >

    <ion-scroll style="padding-top: 43px; height: 100%; ">
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-ios-person-outline "></i>
                <input type="text" ng-model="user.userName" placeholder="用户名">
            </label>
            <label class="item item-input">
                <i class="icon ion-ios-unlocked-outline "></i>
                <input type="password" ng-model="user.passWord" placeholder="密码">
            </label>
            <a class="button button-calm button-block" style="margin-top: 15px;" ng-click="signIn(user)">登录</a>
        </div>
    </ion-scroll>
</ion-view>
