/* Empty. Add your own CSS if you like */
/*首页顶部信息*/
.indexbar .button-clear {
    color: #1dbeaf;
    font-size: 12px;
}

/*首页iteam边距*/
.pane {
    background: #f8f8f6;
}

.home_item .list {
    background: none;
}

.home_item .list .list {
    background: #fff;
}

.home_item .item {
    overflow: inherit;
    padding: 0px;
    margin: 10px;
}

.home_item .item-complex .item-content {
    padding: 0px;
}

.home_item .item .item {
    border: none;
    padding: 0px;
    margin: 0px;
}

.item .img_box {
    padding: 0px;
}

/**首页焦点图**/
.slider {
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    height: 150px;
}

.slider-slide .box {
    text-align: center;
}

.slider-slide .box img {
    text-align: center;
    max-width: 600px;
    width: 100%;
    height: auto;
}

.hidden {
    display: block !important;
}

.visible {
    display: block !important;
}

/*首页图片*/
.img_box {
    position: relative;
}

.img_text {
    position: absolute;
    height: 30px;
    padding: 0 5px;
    line-height: 30px;
    bottom: 30px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    filter: Alpha(opacity=50); /* 只支持IE6、7、8、9 */
    *zoom: 1;
    color: #fff;
}

.img_text span {
    font-size: 10px;
}

.home_item .item-avatar {
    position: relative;
    min-height: 50px;
}

.home_item .person_img {
    position: absolute;
}

.home_item .item-avatar > img:first-child {
    top: -16px;

}

.home_item .item_box {
    padding: 0px;

}

.home_item .item_box .row {
    padding: 0 0 0 70px;
}

/***商家详情页****/
.shop_detail .bar.bar-light {
    background: none;
    background-image: none;
    border: none;

}

.shop_detail .has-header {
    top: 0px;
}

.shop_detail .bar-header {
    position: relative;
}

.shop_detail .bar-header i {
    font-size: 24px;
    color: #fff;
    margin-right: 10px;
}

.shop_detail .bar-header {
    position: relative;
}

.shop_detail .top_share {
    position: absolute;
    right: 15px;

}

.shop_detail .slider {
    height: 300px;
}

.shop_detail .home_item .item-avatar > img:first-child {
    left: 45%;
}

.row .col-center {
    padding-left: 40px;
}

.row .col-center p {
    color: #666;
}

/*table*/
.slide-tab {
    display: table;
    overflow: hidden;
    margin: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;

}

.slide-tab li {
    display: block;
    width: 50%;
    text-align: center;
    float: left;
    line-height: 38px;
    overflow: hidden;
    padding: 0;
}

.slide-tab a {
    color: #888;
    font-weight: 500;
    display: block;
    letter-spacing: 0;
    outline: none;
    padding: 0 20px;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

}

.current a {
    color: #1dbeaf;
    background: #f1f1f1;
    border-bottom: 2px solid #1dbeaf;
}

.table_menu .slider-pager {
    display: none;

}

.table_menu {
    margin: 10px;
}

.table_menu.slider {
    height: auto;
}

/*tab隐藏*/
.tabs-top .tab-nav {
    -webkit-transition-timing-function: cubic-bezier(0.4, 0.6, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0.6, 0.2, 1);
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transition-property: all;
    transition-property: all;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

.tabs-top .slide-away {
    transform: translate3d(0, -50px, 0);
    -webkit-transform: translate3d(0, -50px, 0);
}

.tabs-bottom .tab-nav,
.tab-nav {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    -webkit-transition-timing-function: cubic-bezier(0.36, 0.66, 0.04, 1);
    transition-timing-function: cubic-bezier(0.36, 0.66, 0.04, 1);
    -webkit-transition-property: all;
    transition-property: all;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

.tabs-bottom .slide-away,
.slide-away {
    transform: translate3d(0, 49px, 0);
    -webkit-transform: translate3d(0, 49px, 0);
}

.icon-rating {
    color: #CB0001;
    font-size: 45px;
}

.range-container {
    width: 300px;
}

ul.rating li {
    display: inline;
    border: 0px;
    background: none;
    color: #1dbeaf;
}

ul.rating li i {
    font-size: 18px;
}

.seller_img img {
    width: 100%;
}

.seller_content p {
    white-space: normal;
}

.seller_content i {
    margin-right: 10px;
}

.seller_button {
    float: right;
    margin: 10px 10px 10px 0;
    line-height: 24px;
    min-height: 24px
}

.person .item-avatar .item-content {
    padding-left: 20px;
}
.item_left{
    position: absolute;
    top: 16px;
    left: 16px;
    max-width: 40px;
    max-height: 40px;
}
.little-button{
    min-height:20px;
    line-height:20px;
    min-width:10px;
    padding:0 2px;
    margin-top:2px;
}
/*首页顶部导航*/
.index_loction {
    padding: 0 20px;
    width: 100%;
    background: #fff;
}
.map_content .scroll{
    height:100%;
}