/* Empty. Add your own CSS if you like */
/*首页顶部信息*/
.indexbar .button-clear {
    color: #1dbeaf;
    font-size: 12px;
}

/*首页iteam边距*/
.home_item .bar {
    border-top: none;
}

.bar {
    background-color: #1dbeaf
}

.pane {
    background: #f8f8f6;
}

.home_item .list {
    background: none;
}

.home_item .list .list {
    background: #fff;
}

.home_item .item .badge {
    top: 25px;
    /*left: 0;*/
    right: auto;
    font-size: 12px;
}

.home_item .item {
    overflow: inherit;
    padding: 0;
    margin: 0;
    border: none;
}

.home_item .item-complex .item-content {
    padding: 0px;
}

.home_item .item .item {
    border: none;
    padding: 0px;
    margin: 0px;
}

.item .img_box {
    padding: 0px;
}

/**首页焦点图**/
.home_item .slider {
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    height: 150px;
}

.slider-slide .box {
    text-align: center;
}

.slider-slide .box img {
    text-align: center;
    width: 100%;
    height: auto;
}

.hidden {
    display: block !important;
}

.visible {
    display: block !important;
}

/*首页图片*/
.img_box {
    position: relative;
}

.img_text {
    float: right;
    margin-right: 10px;
    /*height: 30px;*/
    /*padding: 0 5px;*/
    /*line-height: 30px;*/
    /* background-color: rgba(0, 0, 0, 0.5);
     filter: Alpha(opacity=50);  *//*只支持IE6、7、8、9 */
    *zoom: 1;
}

.img_text span {
    font-size: 10px;
}

.home_item .item-avatar {
    position: relative;
    min-height: 50px;

}

.home_item .person_img {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    /* background-color: rgba(0, 0, 0, 0.5);
     filter: Alpha(opacity=50); */
    /*只支持IE6、7、8、9 */
    /*background: -webkit-linear-gradient( top, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.40));
    background: -moz-linear-gradient( top, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.40));
    background: -ms-linear-gradient( top, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.40));
    background: -o-linear-gradient( top, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.40));*/
}

.person_img h2, .person_img span {
    font-family: "微软雅黑", "黑体";
}

.home_item .address p {
    font-size: 12px;
    padding: 0 5px 0 0;
    /*    background: -webkit-linear-gradient( top, rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.02));
        background: -moz-linear-gradient( top, rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.02));
        background: -ms-linear-gradient( top, rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.02));
        background: -o-linear-gradient( top, rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.02));*/
}

.home_item .person_img h2 {
    /*line-height: 50px;*/
    margin-top: 5px;
    font-size: 14px;
}

.home_item .item-avatar > img:first-child {
    top: -18px;
    max-height: 50px;
    max-width: 50px;
    border: 2px solid #fff;

}

.home_item .item_box {
    padding: 0px;

}

.home_item .item_box i {
    color: #1dbeaf;

}

.home_item .item_box .ion-ios-checkmark {
    font-size: 12px;
}

.home_item .item_box .row {
    padding: 0 0 0 70px;
}

.home_cation {
    position: absolute;
    top: 10px;
    text-align: right;
    width: 100%;
    padding-right: 10px;
}

.home_cation_name {
    display: inline-block;
    background: #97c715;
    color: #fff;
    border-radius: 10px;
    padding: 0 5px;
    font-size: 12px;

}

/***商家详情页****/
.shop_detail .bar.bar-light {
    background: none;
    background-image: none;
    border: none;

}

.shop_detail .has-header {
    top: 0px;
}

.shop_detail .bar-header {
    position: relative;
}

.shop_detail .bar-header i {
    font-size: 24px;
    color: #fff;
    margin-right: 10px;
}

.shop_detail .bar-header {
    position: relative;
}

.shop_detail .slider {
    /*   height: 300px;*/
}

.shop_detail .home_item .item-avatar > img:first-child {
    left: 45%;
}

.row .col-center {
    padding-left: 40px;
}

.row .col-center p {
    color: #666;
}

/*table*/
.slide-tab {
    display: table;
    overflow: hidden;
    margin: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;

}

.slide-tab li {
    display: block;
    width: 50%;
    text-align: center;
    float: left;
    line-height: 38px;
    overflow: hidden;
    padding: 0;
}

.slide-tab a {
    color: #888;
    font-weight: 500;
    display: block;
    letter-spacing: 0;
    outline: none;
    padding: 0 20px;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

}

.current a {
    color: #1dbeaf;
    background: #f1f1f1;
    border-bottom: 2px solid #1dbeaf;
}

.table_menu .slider-pager {
    display: none;

}

.table_menu {
    margin: 10px;
}

.table_menu.slider {
    height: auto;
}

/*tab隐藏*/
.tabs-top .tab-nav {
    -webkit-transition-timing-function: cubic-bezier(0.4, 0.6, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0.6, 0.2, 1);
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transition-property: all;
    transition-property: all;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

.tabs-top .slide-away {
    transform: translate3d(0, -50px, 0);
    -webkit-transform: translate3d(0, -50px, 0);
}

.tabs-bottom .tab-nav,
.tab-nav {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    -webkit-transition-timing-function: cubic-bezier(0.36, 0.66, 0.04, 1);
    transition-timing-function: cubic-bezier(0.36, 0.66, 0.04, 1);
    -webkit-transition-property: all;
    transition-property: all;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

.tabs-bottom .slide-away,
.slide-away {
    transform: translate3d(0, 49px, 0);
    -webkit-transform: translate3d(0, 49px, 0);
}

.icon-rating {
    color: #CB0001;
    font-size: 45px;
}

.range-container {
    width: 300px;
}

ul.rating li {
    display: inline;
    border: 0px;
    background: none;
    color: #1dbeaf;
}

ul.rating li i {
    font-size: 18px;
}

.seller_img img {
    width: 100%;
}

.seller_content p {
    white-space: normal;
}

.seller_content i {
    margin-right: 10px;
}

.seller_button {
    float: right;
    margin: 10px 10px 10px 0;
    line-height: 24px;
    min-height: 24px
}

.person .item-avatar .item-content {
    padding-left: 20px;
    min-height: 54px;
}

.person .item-avatar {
    min-height: 54px;
}

.person .item-content span {
    line-height: 24px;
}

.item_left {
    position: absolute;
    top: 16px;
    left: 16px;
    max-width: 40px;
    max-height: 40px;
}

.little-button {
    min-height: 20px;
    line-height: 20px;
    min-width: 10px;
    padding: 0 2px;
    margin-top: 2px;
}

/*首页顶部导航*/
.index_loction {
    padding: 0 20px;
    width: 100%;
    background: #fff;
}

.map_content .scroll {
    height: 100%;
}

/*购物车*/
.shop_cart {
    position: absolute;
    bottom: 45px;
    width: 100%;
    background: #fff;
    color: #000;
    max-height: 80%;
Alpha(opacity = 100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    z-index: 12;
}

.cart_box {
    position: absolute;
    top: 0px;
    height: 90%;
    width: 100%;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 12;
}

.shop_cart i {
    font-size: 20px;
    color: #1dbeaf;
    float: left;
}

.shop_cart ul li {
    border-bottom: 1px solid #f3f3f3;
    height: 40px;
    line-height: 40px;
}

.shop_cart .popup {
    position: absolute;
    bottom: 45px;
    width: 100%;
    left: 0px;
}

.food_price {
    min-width: 30px;
    float: left;
    text-align: center;
}

.shop_cart .list {
    padding: 0 10px;
}

.shop_cart .col {
    padding: 0px;
}

.zan_popup .popup-head {
    padding: 0px;
    border: none;
}

.zan_popup .popup-body {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    color: #fff;
}

.popup-container.zan_popup .popup {
    width: auto;
    border-radius: 10px;
}

.bar-footer .item {
    width: 100%;
    background: #1dbeaf;
    border: none;
    color: #fff;
    padding-top: 0px;

}

.bar-footer .item p {
    color: #fff;
    line-height: 18px;
}

.dash_detail .slider-pager {
    text-align: right;
    padding-right: 10px;
}

/*.dash_detail .item-body{
    padding-bottom:40px;
}*/
.slider-pager .slider-pager-page {
    color: #fff;
}

.comment .care_text {
    padding-bottom: 10px;

}

.comment .care_text2 {
    border-top: 1px solid #dedfe0;
    padding-top: 10px;

}

.comment .list {
    padding-top: 0px;

}

.message.tabs-top .tab-content {
    padding: 110px 10px 0 10px;

}

/*.message.tabs-top .tabs {
    background-color: #fff;
}*/

.message.tabs-top .tab-item {
    max-width: 100%;
}

.message .ion-tabs.tabs-color-active-positive .tab-item.tab-item-active {
    background-color: #fff;
    border-bottom: 2px solid #1dbeaf;
    margin-top: 1px;
}

.set .item-avatar .item-content, .set .item-avatar {
    padding-left: 5px;
}

.home_item .badge.badge-assertive {
    /*background: #e4c615;*/
    background-color: rgba(255, 255, 255, 0.50);
    filter: Alpha(opacity=10);
    font-weight: normal;
}

.comment .care_text .alright, .care p i {
    color: #e4c615;

}

.care p i {
    margin-right: 2px;
}

/*评论详情*/
.comment_detail .list .item-thumbnail-left p i {
    font-size: 18px;
    color: #e4c615;
}

.comment_input.item {
    background: #fff;
    height: auto;
    padding: 0 0 10px 0;
    border: none;
}

.comment_input.item .item-input {
    padding: 16px;
    margin-bottom: 5px;
    border-bottom: none;
}

.comment_input.item button {
    margin-left: 10px;
}

.comment_detail .checkbox input {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.comment_detail .checkbox input:after, .checkbox-icon:after {
    position: absolute;
    top: 20%;
    left: 20%;
    display: table;
    width: 10px;
    height: 6px;
}

.range-container input[type="range"] {
    display: inline-block;
    overflow: visible;
    margin: -45px auto 5px auto;
    width: 145px;
    height: 60px;
    outline: none;
    background: transparent;
    background-position: center;
    background-size: 99% 4px;
    background-repeat: no-repeat;
    -webkit-appearance: none;
}

.range-container input[type="range"]::-webkit-slider-thumb {
    position: relative;
    width: 30px;
    height: 20px;
    border-radius: 10px;
    border-width: 1px;
    border-color: #CB0001;
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
    -webkit-appearance: none;
}

.range-container input[type="range"]::-webkit-slider-thumb:before {
    position: absolute;
    top: 8px;
    left: -2001px;
    width: 2000px;
    height: 0px;
    background: #FFF;
    content: ' ';
}

.range-container input[type="range"]::-webkit-slider-thumb:after {
    position: absolute;
    top: -20px;
    left: -20px;
    padding: 30px;
    content: ' ';
}

.range-container {
    width: 160px;
}

ul.rating li {
    display: inline;
    border: 0px;
    background: none;
    padding: 0px;
    color: #e4c615;
}

ul.rating li i {
    font-size: 20px;
}

.profile-item {
    text-align: center;
}

.profile-picture {
    border: 1px solid rgba(255, 255, 255, 10);
    padding: 3px;
    border-radius: 100%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0 auto;
    width: 68px;
    height: 68px;
    overflow: hidden;
}

.profile-picture img {
    width: 68px;
    height: 68px;
    border-radius: 100%;
}

.profile-name {
    padding-top: 10px;
    font-size: x-large !important;
    font-weight: bold !important;
    text-transform: capitalize;
}

.profile-item .button-small {
    min-width: 150px;

}

.message .tab-content {
    top: 93px;
}

.dash_top.addcolor {
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #1dbeaf;
    top: 0px;
}

.dash_top.addcolor .button-clear.button-clear {
    color: #1dbeaf;
}

.item-input-wrapper {
    border-radius: 28px;
    background-color: rgba(255, 255, 255, 0.6);
}

.order_icon_bg {
    display: block;
    float: left;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 24px;
    background: #1dbeaf;
    color: #fff;
    text-align: center;
    margin-right: 10px;

}

.order_icon_bg.bg_browser {
    background: #71a7df;
}

.order_icon_bg.bg_bag {
    background: #e4c615;
}

.order_icon_bg.bg_star {
    background: #74d5ef;
}

.order_icon_bg.bg_chatbubble {
    background: #97c715;
}

.order_icon_bg.bg_location {
    background: #b483bd;
}

.confirm_list {
    overflow: hidden;
}

.confirm_list .button {
    float: left;

    margin-bottom: 10px;
}

/*分享*/
.share button {
    font-size: 14px;
    text-align: left;
}

.share img {
    margin: 10px 5px 0 0;
}

.share .action-sheet .button {

    padding-left: 35%;
}

.photo_bg {
    background: url(../img/bg.jpg) no-repeat;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    margin: 0px;
    padding-top: 20px;
    overflow: hidden;

}

.photo_bg .item {
    background: none;
    border: none;
}

.photo_bg .button.bar-balanced {
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
}

.profile-item .care_text span, .profile-item .care_text p {
    color: #fff;

}

.icon_bg.ion-ios-paper-outline {
    background: #74d5ef;
}

.icon_bg.ion-location {
    background: #74d5ef;
}

.photo_img {
    margin-top: 10px;
    overflow: hidden;
}

.photo_img ul li {
    display: block;
    float: left;
    margin: 0 0 10px 5px;

}

.photo_img ul li img {
    width: 80px;
    height: 80px;
}

.comment_input {
    position: relative;
}

.comment_input .button-clear {
    position: absolute;
    bottom: 10px;
    right: 18px;
}

.message_text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.message_text.add_text {
    white-space: normal;
    text-overflow: clip;
}

.transparent {
    background: transparent !important;
}

.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}

.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}

.image-modal .slider {
    width: 100%;
    height: 100%;
}

p.info {
    position: absolute;
    bottom: 55px;
    margin: 0 auto;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 28px;
    color: #ffffff;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
    .active .modal-backdrop-bg {
        opacity: .5;
    }

    .modal-backdrop-bg {
        -webkit-transition: opacity 300ms ease-in-out;
        transition: opacity 300ms ease-in-out;
        background-color: #000;
        opacity: 0;
    }
}

.mode_img.modal {
    background: rgba(0, 0, 0, 0.8);
}

.dash_top {
    position: fixed;
    width: 100%;
    top: 8px;
    z-index: 1000;
    color: #fff;
    font-size: 26px;
}

.dash_top .button-clear.button-clear {
    color: #fff;
    font-size: 26px;
}

.dash_top .button {
    min-width: 30px;
}

.item-input-inset span {
    color: #fff;
}

.main_menu {
    padding-bottom: 44px;
}