/* Empty. Add your own CSS if you like */
/**底部导航**/
ion-tabs.tabs-color-active-positive .tab-item.tab-item-active {
    color: #1dbeaf;
    border: none;
}

.alleft {
    float: left;
}

.alright {
    float: right;
}

.hide-tab-bar .tabs {
    display: none;
}

body {
    font-family: "微软雅黑", "黑体";
}

.button {
    font-family: "微软雅黑", "黑体";
}

.button.button-balanced.button-outline {
    border-color: #1dbeaf;
    background: 0 0;
    color: #1dbeaf;

}

.color {
    color: #fff;
}

.color:hover {
    color: #fff;
}

.bar.bar-balanced.bar-footer {
    border-color: #1dbeaf;
    background: #1dbeaf;
    color: #1dbeaf;
}

.button.bar-balanced.button-outline {
    border-color: #1dbeaf;
    background: 0 0;
    color: #1dbeaf;
}

.button.bar-balanced {
    border-color: #1dbeaf;
    background: #1dbeaf;
    color: #fff;

}

.button.button-balanced.button-clear {
    color: #1dbeaf;
}

.margin {
    margin-top: 10px;
}

.checkbox input:checked + .checkbox-icon:before, .checkbox input:checked:before {
    background: #1dbeaf;
    border-color: #1dbeaf;
}

.bar-header.has-tabs-top {
    background: #1dbeaf;
}

/*顶部圆*/
.message_badge {
    display: block;
    width: 8px;
    height: 8px;
    background: #ef473a;
    position: absolute;
    left: 46px;
    border-radius: 8px;
}

.bar .title, .bar.bar-stable {
    color: #fff;
    background: #1dbeaf;
}

.bar .button.button-clear {
    color: #fff;
}

.bar.bar-stable .title {
    color: #fff;
}
.dash_detail .bar .title{
    background:none;
}