/*公用样式*/
.fl{
    float: left;
}
.fr{
    float: right;
}
.mainColor{
    color: #1dbeaf !important;
}
.existingAccount{
    margin-top: 90px;
    text-align: center;
}
.list_detail_person_img{
    width: 100%;
    text-align: center;
}
.list_detail_person_img img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-top: -15px;
    position: absolute;
    z-index: 10000;
}
/*分享的icon*/
.dash_detail .bar.bar-light {
    background: none;
    background-image: none;
    border: none;

}

.dash_detail .has-header {
    top: 0;
}

.dash_detail .bar-header {
    position: relative;
}

.dash_detail .bar-header i {
    font-size: 24px;
    color: #fff;
    margin-right: 10px;
}

.dash_detail .bar-header {
    position: relative;
}

.dash_detail .top_share {
    position: absolute;
    right: 15px;
    min-width:100px;

}
/**/
.tip_menu{
    line-height: 30px;
}
.address_detail_info label{
    display: block;
    color: #ccc;
    line-height: 30px;
}
/*就餐方式*/
.delivery_address{
    margin-left: 20px;
    color: #ccc;
}
.delivery_address p{
    color: #ccc;
}
/*我的订单中的样式*/
.order .item-complex .item-content{
    padding-right: 16px;
}
.order .list{
    padding-left: 1px;
    padding-right: 1px;
}
.order .order_list{
    margin-top: 10px;
}
/*订单详情样式*/
.order_Details ul{
    margin-top: -20px;
}

.order_Details ul li{
    margin-top: 18px;
}
.order_Details  b{
    margin-right: 18px;
}
/*确认订单样式*/
.confirm_order .order_list{
    margin-top: 10px;
}

/*进度条样式*/
.process_bar{
    padding: 0 20px;
}
.step_bar{
    height: 10px;
    background-color: #ccc;
    margin-top: 50px;
}
.step_bar li{
    display: inline-block;
    width: 50%;
    height: 34px;
    float: left;
    margin-top: -12px;
    background: url(//img.alicdn.com/tps/i2/T1WImjXfVDXXXUDz2G-34-214.png) 0 0 no-repeat;
    background-position: 0 -105px;
}
.step_bar li .step_no{
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #fff;
}
.step_bar .step_end{
    width: 34px;
    height: 34px;
    float: right;
    margin-top: -34px;
}
.step_bar .step_status{
    display: block;
    height: 4px;
    margin-top: -19px;
    background-color: #b90100;
    margin-left: 5px;
}
.step_bar .step_name{
    position: relative;
    float: left;
    top: -30px;
    margin-top: -30px;
    margin-left: -25px;
    white-space: nowrap;
}
/*我的资料*/
.personal_info input{
    height: auto;
}