/*公用样式*/
.fl{
    float: left;
}
.fr{
    float: right;
}
.mainColor{
    color: #1dbeaf !important;
}
.existingAccount{
    margin-top: 90px;
    text-align: center;
}
.list_detail_person_img{
    width: 100%;
    text-align: center;
}
.list_detail_person_img img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-top: -15px;
    position: absolute;
    z-index: 10000;
}
/*分享的icon*/
.dash_detail .bar.bar-light {
    background: none;
    background-image: none;
    border: none;

}

.dash_detail .has-header {
    top: 0;
}

.dash_detail .bar-header {
    position: relative;
}

.dash_detail .bar-header i {
    font-size: 24px;
    color: #fff;
    margin-right: 10px;
}

.dash_detail .bar-header {
    position: relative;
}

.dash_detail .top_share {
    position: absolute;
    right: 15px;

}
/**/
.tip_menu{
    line-height: 30px;
}
.address_detail_info label{
    display: block;
    color: #ccc;
    line-height: 30px;
}
/*就餐方式*/
.delivery_address{
    margin-left: 20px;
    color: #ccc;
}
.delivery_address p{
    color: #ccc;
}
/*我的订单中的样式*/