/* Empty. Add your own CSS if you like */
a{
    text-decoration: none;
}
.fr{
    float: right;
}
.fl{
    float: left;
}
.dishes a{
    font-size: 14px;
    text-decoration: none;
}
.calm{
    color: #1dbeaf;
}
.calm-bg{
    background-color:#1dbeaf;
}
.calm-bg{
    border: #1dbeaf;
}

.dishes  > .button{
    padding: 0;
}

.shop-course-title{
    text-align: center;
    line-height:10px ;
    height : 0px;
    font-weight:100;
    font-size: 14px;
}
.shop-course-tishi{
    text-align: center;
    height:40px;
    line-height:70px;
    font-weight:100;
    font-size: 12px;
}
.shop-course li{
    margin-top: 50px;
}
.shop-number{
    float: left;
    margin-right: 20px;
    text-align: center;
    padding: 2.5% 0;
    width: 10%;
}
.item-radio .item-content{

     padding-right: 20px;

}
.bar  {
    height: 50px;
}
.title{
    padding-top: 3px;
}
.dishes-p .button{
    padding-top: 4px;
    font-size: 16px;

}
.dishes-p .button-bar > .button:first-child {
    border-radius: 10px 0px 0px 10px;
}
.dishes-p .button-bar > .button:last-child {
    border-radius: 0px 10px 10px 0px;
}

.button-bar .current{
    color: #1dbeaf;
    background: #f1f1f1;
    border-bottom: 2px solid #1dbeaf;
}

.dishes-p .current{
    background-color: #1dbeaf;
    color: white;
    border-bottom: 2px solid #1dbeaf;
}
.order .item-complex .item-content{
    padding-right: 16px;
}
.order_Details ul{
    margin-top: -20px;
}

.order_Details ul li{
    width: 100%;
    margin-top: 18px;
}
.order_Details  b{
    width: 100px;
    text-align: right;
}
.display_none{
    display: none;
}
.per_input input{
    margin:0 5px 0 10px;
}
.height{
    height: 50px;

}
.popup-head{
    padding: 0px 10px;
    margin-top: 10px;

}
.home_class .scroll{
    height: 100%; position:absolute; width:100%;
}
.overview_dish{
    position: absolute;
    top: 50%;
    width: 60px;
    height: 70px;
    left: 50%;
    margin-left: -30px;
    margin-top: -35px;
}
.overview_dish{
    position: absolute;
    top: 50%;
    width: 60px;
    height: 70px;
    left: 50%;
    margin-left: -30px;
    margin-top: -35px;
}
.overview_dish_a{
    position: absolute;
    top: 20%;
    width: 100px;
    height: 60px;
    left: 40%;
    margin-left: -30px;
   /* margin-top: -35px;*/
}
.overview_dish_b{
    position: absolute;
    top: 5%;
    left: 2%;
    width: 100%;
    height: 100%;
}

.slider {
    height: 100%;
}
.slider-slide {
    /*text-align: center;*/
    font-weight: 300;
}

.box  {
    height: 100%;
}
.box h1  {
    color: #fff;
}

.blue {
    background-color: #4a87ee;
}
.yellow {
    background-color: #f0b840;
}
.pink {
    background-color: #8a6de9;
}

.pink a {
    right:0;
}

.btn-start {
    top: initial;
    bottom : 40px;
    width: 100px;
    margin:0 auto;
    display:block;
}

.selected {
    background-color: #d2dced;
}
.point input{
    text-align: center;

}
