<ion-header-bar align-title="center" class="stable-bg">


    <div class="buttons">

            <a class="button button-clear icon ion-ios-arrow-left  " style="padding: 0 18px 0 15px;"
               href="#/overview"></a>

    </div>
    <h1 class="title">饭友评价</h1>

</ion-header-bar>

<div class="bar bar-subheader">


    <div class="button-bar light-bg dishes">

        <a class="button button-clear" ng-class="statusIndex == 0 ? 'current':''"
           ng-click="activeStats(0)">待回复 <i class="calm">10</i> </a>
        <a class="button button-clear    " ng-class="statusIndex == 1 ? 'current':''"
           ng-click="activeStats(1)">好评
            <i class="calm">15</i> </a>
        <a class=" button button-clear " ng-class="statusIndex == 2 ? 'current':''"
           ng-click="activeStats(2)" >中评 <i class="calm">20</i> </a>
        <a class=" button button-clear " ng-class="statusIndex == 3 ? 'current':''"
           ng-click="activeStats(3)" >差评 <i class="calm">30</i> </a>
    </div>


</div>

<ion-content class='has-subheader'>


<br>

    {{statusIndex}}


</ion-content>