<ion-view view-title="" hide-tabs hide-nav-bar="true">
    <ion-header-bar class="bar bar-header">
        <button class="button icon ion-ios-arrow-left button-clear" ui-sref="tab.dash">返回</button>
        <h2 class="title">切换地址</h2>
        <i class="ion-android-pin-right"></i>
    </ion-header-bar>
    <ion-content>
        <div class="list item-input-inset">
            <label class="item-input-wrapper  ">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="输入地址搜索周边厨房"/>
            </label>
        </div>
        <div class="list padding-left padding-right ">
            <a href="#" class="item">
                <i class="ion-android-compass"></i>
                定位到当前地址
            </a>
        </div>
        <label class="item-input item-stacked-label padding-right">
            <span class="input-label">我的地址</span>

            <div class="list">
                <a class="item  item-button-right" href="#">
                    成都市高新区天府大道南段
                    <button class="button button-outline button-balanced little-button">公司</button>
                </a>
            </div>
        </label>
    </ion-content>
</ion-view>