<ion-view view-title="" hide-tabs hide-nav-bar="true">
    <ion-header-bar class="bar bar-header">
        <button class="button icon ion-ios-arrow-left button-clear" onclick="history.back()">返回</button>
        <h2 class="title">评论</h2>
    </ion-header-bar>
    <ion-content>
        <div class="list" ng-repeat="comment in comments " style="margin-bottom:10px;">
            <a class="item item-avatar" href="#">
                <img ng-src="{{comment.img}}">

                <div class="care_text">
                        <span>
                            {{comment.name}}
                        </span>
                        <span class="alright">
                      <i class="ion-ios-star"></i><i class="ion-ios-star"></i><i class="ion-ios-star-outline"></i><i
                                class="ion-ios-star-outline"></i><i class="ion-ios-star-half"></i>
                        </span>

                    <p>{{comment.content}}</p>
                    <span class="time">{{comment.time}}</span>
                </div>
            </a>
        </div>
    </ion-content>
</ion-view>