<ion-view view-title="" hide-tabs hide-nav-bar="true">
    <ion-header-bar class="bar bar-header">
        <button class="button icon ion-ios-arrow-left button-clear" onclick="history.back()"></button>
        <h2 class="title">评论</h2>
    </ion-header-bar>
    <ion-content class="comment">
        <div class="list" ng-repeat="comment in comments " style="margin-bottom:0px;">
            <div class="item item-avatar">
                <img ng-src="{{comment.img}}">

                <div class="care_text">
                        <span>
                            {{comment.name}}
                        </span>
                    <span class="alright" ng-bind-html="takeStar(comment.star)">
                        </span>

                    <p>{{comment.content}}</p>
                    <img ng-src="http://youfan-merchant-img.b0.upaiyun.com/{{cimg}}" ng-click="imgToggle(cimg)" ng-repeat="cimg in comment.img_url" ng-style="imgStyle" >

                    <div class='photo_img'>
                        <ul>
                            <li ng-repeat="cimg in comment.img_url"><img
                                    ng-src='http://youfan-merchant-img.b0.upaiyun.com/{{cimg}}'
                                    ng-click='goToSlide($index,comment.img_url)' ng-style="imgStyle"/></li>
                        </ul>
                    </div>
                    <p class="time">{{comment.commentTime}}</p>
                </div>
                <div class="care_text2" ng-class="{'hide':2>1}">
                    <p> 【家厨回复】
                        <span>
                            {{comment.reply}}
                        </span></p>

                    <p class="time">{{comment.commentTime}}</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>