<ion-view view-title="" hide-nav-bar="true" hide-tabs class="dash_detail">
    <ion-header-bar class="bar-header bar-light">
        <a ui-sref="tab.dash"><i class="ion-ios-arrow-left"></i></a>

        <div class="top_share ">
            <i class="ion-ios-heart-outline" on-icon="ion-ios-heart-outline" off-icon="ion-ios-heart" icon-switcher
               popupsure="点赞成功" popupcancel="取消点赞"></i>
            <i class="ion-ios-star-outline" on-icon="ion-ios-star-outline" off-icon="ion-ios-star" icon-switcher
               popupsure="关注成功" popupcancel="取消关注"></i>
            <i class="ion-ios-redo-outline" on-icon="ion-ios-redo-outline" off-icon="ion-ios-redo" icon-switcher></i>
        </div>
    </ion-header-bar>
    <ion-content>
        <ion-slide-box on-slide-changed="slideHasChanged($index)" does-continue="true" auto-play="true"
                       slide-interval="2000">
            <ion-slide>
                <div class="box blue"><img src="img/2.jpeg" alt=""/></div>
            </ion-slide>
            <ion-slide>
                <div class="box yellow"><img src="img/2.jpeg" alt=""/></div>
            </ion-slide>
            <ion-slide>
                <div class="box pink"><img src="img/2.jpeg" alt=""/></div>
            </ion-slide>
        </ion-slide-box>
        <div class="list_detail_person_img">
            <img src="img/avatar1.jpg">
        </div>
        <div class="text-center">
            <div class="item segmented-control-item">
                <h2 style="margin-top: 40px">海南风情小味厨</h2>
                <i class="icon ion-star"></i>
                <i class="icon ion-star"></i>
                <i class="icon ion-star"></i>
                <i class="icon ion-star"></i>
                <i class="icon ion-star"></i>

                <p>李先生 海南人</p>

                <p>10:00 - 22:00 开放厨房</p>

                <div class="row">
                    <a class="col col-35 col-offset-15 button-small button bar-balanced button-outline"
                       ui-sref="tab.comment-detail">234条评论</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="col col-35 bar-balanced button-small button button-outline">联系厨房</a>
                </div>
            </div>
        </div>
        <ion-list>
            <ion-item class="item-icon-left item-icon-right">
                <i class="address_img icon ion-ios-paper-outline"></i>

                <h2 ui-sref="tab.seller-detail">我是一名85后退伍军人，在部队锻炼出一身严谨的工作态度</h2>
                <i class="icon ion-ios-arrow-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right">
                <i class="address_img icon ion-ios-location-outline"></i>

                <h2 ui-sref="tab.Map">北京市朝阳区百子湾32号院苹果社区南区</h2>
                <i class="icon ion-ios-arrow-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right">
                <div class="address_detail_info">
                    <label>配送说明 : <span>尚无说明</span></label>
                    <label>配送范围 : <span>2千米内配送 | 外送费 : 2元</span></label>
                    <label>距离 : <span>427米</span></label>
                    <label>可容纳 : <span>不提供堂食</span></label>
                </div>
            </ion-item>
        </ion-list>
        <div>
            <ul class="slide-tab">
                <li ng-class="slideIndex == 0 ? 'current':''"><a href="#" ng-click="activeSlide(0)">今日就餐</a></li>
                <li ng-class="slideIndex == 1 ? 'current':''"><a href="#" ng-click="activeSlide(1)">明日预定</a></li>
            </ul>
        </div>
        <ion-slide-box on-slide-changed="slideChanged(index)" active-slide="slideIndex" class="table_menu">
            <ion-slide>
                <ion-list class="card">
                    <ion-item class="item-body" ng-repeat="menu in menuArr" ng-repeat-end="1">
                        <img class="full-image" ng-src="{{menu.picUrl}}">
                        <ion-item class="item-icon-left item-icon-right">
                            <i class="icon ion-coffee"></i>

                            <h2 ng-bind="menu.description"></h2>

                            <i class="icon ion-ios-arrow-right"></i>

                            <i class="icon ion-ios-arrow-right icon-accessory"></i>
                        </ion-item>
                        <ion-item class="item-icon-left item-icon-right">
                            <h2 ng-bind="'￥' + menu.price"></h2>

                            <p ng-bind="'还有' + menu.restNum + '份 | ' + menu.tasteNum + '人品尝过'"></p>
                            <i class="icon ion-plus icon-accessory" ng-click="addToCart(menu)"></i>
                        </ion-item>
                    </ion-item>
                </ion-list>
                <ion-list class="tip_menu">
                    <ion-item class="item-thumbnail-left item-icon-right" ng-repeat="menu in menuArr"
                              ng-repeat-start="2">
                        <img ng-src="{{menu.picUrl}}"/>

                        <h2 ng-bind="menu.description"></h2>

                        <p ng-bind="'还有' + menu.restNum + '份 | ' + menu.tasteNum + '人品尝过'"></p>

                        <p ng-bind="'￥' + menu.price"></p>
                        <i class="icon ion-plus icon-accessory" ng-click="addToCart(menu)"></i>
                    </ion-item>
                </ion-list>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
    <div class="bar bar-footer bar-balanced">
        <div class="button-bar">
            <a class="button button-clear icon ion-android-cart" style="border-right: 1px solid #fff;"
               ng-bind="'￥' + subtotal" ng-click="toggleMenu()"></a>
            <a class="button button-clear" ng-click="confirmOrder()">选好了</a>
        </div>
    </div>
    <div ng-show='menuState.show'>
        <div class="cart_box" ng-click="ShopClose()"></div>
        <ion-scroll zooming="true" direction="y" class="shop_cart" ng-mouseleave="ShopCart()">
            <div class="list">
                <ul>
                    <li ng-repeat="food in foods" class="row"><span class="col col-50">{{food.name}} </span><span
                            class="col ">{{food.price}}</span><span class="col"><i class="ion-minus-round"
                                                                                   ng-hide="count_show"
                                                                                   ng-click="count = count - 1"
                                                                                   ng-
                                                                                   ng-init="count=0"></i>  <span
                            class="food_price">{{count}} </span><i
                            class="ion-plus-round" ng-click="count = count + 1" ng-init="count=0"></i> </span></li>
                </ul>
            </div>

        </ion-scroll>
    </div>

</ion-view>