<ion-view view-title="" hide-tabs hide-nav-bar="true" cache-view="false">
    <ion-header-bar class="bar bar-header">
        <button class="button icon ion-ios-arrow-left button-clear" ui-sref="tab.change-address"></button>
        <h2 class="title">切换地址</h2>

    </ion-header-bar>
    <ion-content>
        <div class="list item-input-inset">
            <label class="item-input-wrapper  ">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" ng-model="inputText.value" ng-change="keydown()" placeholder="小区/大厦/学校/街道"/>
            </label>
        </div>
        <div id="mapContainer" style="left: 0;right: 0;bottom: 0; height:300px;"></div>
        <ion-scroll zooming="true" direction="y" style="width: 500px; height: 500px;padding-bottom:48px;">
            <div class="list">
                <div class="item">
                    <p>成都市高新区百草路</p>
                    <span>恋家厨房</span>
                </div>
                <div class="item">
                    <p>成都市高新区百草路</p>
                    <span>恋家厨房</span>
                </div>
                <div class="item">
                    <p>成都市高新区百草路</p>
                    <span>恋家厨房</span>
                </div>
            </div>
        </ion-scroll>

    </ion-content>
</ion-view>