<ion-view view-title="" hide-nav-bar="true" class="shop_detail dash_detail " hide-tabs>
    <div class="dash_top" ng-class="{'addcolor': AddColor}">
        <a ui-sref="tab.dash-detail" class="button icon ion-ios-arrow-left button-clear"></a>

        <div class="top_share ">
            <i class="button icon button-clear ion-ios-heart-outline" on-icon="ion-ios-heart-outline"
               off-icon="ion-ios-heart" icon-switcher
               popupsure="点赞成功" popupcancel="取消点赞"></i>
            <i class="button icon button-clear ion-ios-star-outline" on-icon="ion-ios-star-outline"
               off-icon="ion-ios-star" icon-switcher
               popupsure="关注成功" popupcancel="取消关注"></i>
            <i class="button icon button-clear ion-ios-redo-outline" on-icon="ion-ios-redo-outline"
               off-icon="ion-ios-redo" icon-switcher
               ng-click="share()"></i>
        </div>
    </div>
    <ion-content style="background:#fff;">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" does-continue="true" auto-play="true"
                       slide-interval="2000">
            <ion-slide ng-repeat=" imageUrl in dishDetail['picUrls']">
                <div class="box"><img ng-src="{{imageUrl}}" alt=""/></div>
            </ion-slide>
        </ion-slide-box>
        <ion-list>
            <ion-item class="item-icon-left item-button-right item-toggle item-icon-right">
                <i class="icon ion-ios-albums-outline"></i>

                <h2 class="padding" ng-bind="dishDetail.description"></h2>
            </ion-item>
            <ion-item class="item-button-right item-toggle item-icon-right">
                <h2 class="padding" ng-bind="dishDetail.name"></h2>
                <i class="icon ion-plus-circled" style="right: 15px;"></i>

                <p ng-bind="'还有' + dishDetail.restNum + '份 | ' + dishDetail.tasteNum + '人品尝过'"></p>
            </ion-item>
        </ion-list>
    </ion-content>
    <div class="bar bar-footer bar-balanced">
        <div class="button-bar">
            <!--<a class="button button-clear icon ion-android-cart" style="border-right: 1px solid #fff;"-->
            <!--ng-bind="'￥' + subtotal" ng-click="toggleMenu()"></a>-->
            <a class="button button-clear" style="border-right: 1px solid #fff;" ng-click="toggleMenu()">
                <span class="cart_bg mainColor"><i
                        class="ion-android-cart icon-accessory"></i>&nbsp;&nbsp;{{count}}</span>
                <span>￥{{subtotal}}</span>
            </a>
            <a class="button button-clear" ng-click="confirmOrder()">选好了</a>
        </div>
    </div>
    <div ng-show='menuState.show'>
        <div class="cart_box" ng-click="ShopClose()"></div>
        <ion-scroll zooming="true" direction="y" class="shop_cart" ng-mouseleave="ShopCart()">
            <div class="list">
                <ul>
                    <li ng-repeat="item in items.data" class="row">
                        <span class="col col-50">{{item.name}}</span>
                        <span class="col ">{{item.totalPrice}}</span>
                        <span class="col">
                            <i class="ion-minus-round"
                               ng-click="minusItem(item.id)" ng-init="count = item.count"></i>
                            <span class="food_price" ng-bind="item.count">{{count}}</span>
                        <i class="ion-plus-round" ng-click="plusItem(item.id)" ng-init="count = item.count"></i>
                        </span>
                    </li>
                </ul>
            </div>

        </ion-scroll>
    </div>
</ion-view>