<ion-view view-title="" hide-nav-bar="true" hide-tabs class="dash_detail">
    <ion-header-bar class="bar-header bar-light  ">
        <a href="#/tab/dash-detail"><i class="ion-ios-arrow-left"></i></a>

        <div class="top_share ">
            <i class="ion-ios-heart-outline"></i>
            <i class="ion-ios-star-outline"></i>
            <i class="ion-ios-redo-outline"></i>
        </div>
    </ion-header-bar>
    <ion-content class="map_content">
            <div id="mapContainer" style="position: absolute;top: 0;left: 0;right: 0;bottom: 0;"></div>
    </ion-content>
    <div class="bar bar-footer bar-balanced">
        <div class="title"> 注销登录</div>
    </div>
</ion-view>