<ion-view view-title="" hide-nav-bar="true" class="shop_detail" hide-tabs>
    <ion-header-bar class="bar-header bar-light  ">
        <a href="#/tab/dash-detail"><i class="ion-ios-arrow-left"></i></a>
        <div class="top_share ">
            <i class="ion-ios-heart-outline"></i>
            <i class="ion-ios-star-outline"></i>
            <i class="ion-ios-redo-outline"></i>
        </div>
    </ion-header-bar>
    <ion-content class="seller_content">
        <div class="seller_img">
            <img src="img/2.jpeg" alt=""/>
        </div>

        <ion-list class="home_item">
            <div class="row">
                <div class="col col-center">
                    <h3>真女士</h3>

                    <p>50后|黑龙江人</p>
                </div>
            </div>
            <!--<div class="list">-->
            <!--<a class="item item-avatar" href="#">-->
            <!--<img src="venkman.jpg">-->
            <!--<h2>Venkman</h2>-->
            <!--<p>Back off, man. I'm a scientist.</p>-->
            <!--</a>-->
            <!--</div>-->

        </ion-list>
        <ion-list>
            <ion-item>
                <h2 class="padding"><i class="icon ion-ios-albums-outline"></i>实名认证</h2>
            </ion-item>
            <ion-item>
                <h2 class="padding"><i class="icon ion-ios-location"></i>全部菜品请提前一天预定</h2>
                <div class="row">
                    <div class="col">
                        <p>
                            它之所以如此成功，是因为它的菜式都非常符合人们的胃口，创新也恰到好处。茉莉餐厅的精品菜肴，不仅继承保留了中国美食推崇的色香味，更是在此基础上大胆创新，融合了各个菜系的优点，发展出独特的新派菜风格。接下来我们就来详细了解一下它吧。</p>
                    </div>
                </div>
                <a class="button button-outline button-balanced seller_button" >查看菜单</a>
            </ion-item>
        </ion-list>
        <ion-list >
            <ion-item>
                <h2 class="padding"><i class="icon ion-ios-albums-outline"></i> 评论 <span>26条</span></h2>
            </ion-item>
            <div class="list">
                <a class="item item-avatar" href="#">
                    <img src="img/2.jpeg">
                    <div class="care_text">
                        <span>
                            Record album
                        </span>
                        <span class="alright" >
                      <i class="ion-ios-star"></i><i class="ion-ios-star"></i><i class="ion-ios-star-outline"></i><i class="ion-ios-star-outline"></i><i class="ion-ios-star-half"></i>
                        </span>
                        <p>味道很好呀，下次还要来吃</p>
                    </div>
                </a>
                <a class="button button-outline button-balanced seller_button" href="#/tab/comment-detail">显示更多</a>
            </div>
        </ion-list>
    </ion-content>
</ion-view>