<ion-view view-title="" hide-nav-bar="true" cache-view="false" class="home_item">
    <div class="bar bar-header item-input-inset">
        <button class="button button-clear button-balanced" >
            高新区
            <i class="ion-ios-arrow-down"></i>
        </button>
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="搜索"/>
        </label>
        <button class="button button-clear button-balanced" ng-click="verifyLogin.show()">
            登录
        </button>
    </div>
    <div class="bar bar-subheader bar-light" style="height:30px;">
        <div class="index_loction" ui-sref="tab.change-address">
            <i class="ion-ios-location"></i>&nbsp;{{mapCity}}
               <span class="item-note">
                       <i class="icon ion-chevron-right icon-accessory"></i>
               </span>
        </div>
    </div>
    <ion-content style="top:75px;">
        <ion-refresher pulling-text="正在帮你刷新" on-refresh="doRefresh()">
        </ion-refresher>
        <ion-slide-box on-slide-changed="slideHasChanged($index)" does-continue="true" auto-play="true"
                       slide-interval="2000">
            <ion-slide>
                <div class="box blue"><img src="img/2.jpeg" alt=""/></div>
            </ion-slide>
            <ion-slide>
                <div class="box yellow"><img src="img/2.jpeg" alt=""/></div>
            </ion-slide>
            <ion-slide>
                <div class="box pink"><img src="img/2.jpeg" alt=""/></div>
            </ion-slide>
        </ion-slide-box>
        <ion-list>
            <ion-item class="item" ui-sref="tab.dash-detail">
                <div class="list">
                    <div class="item item-body img_box">
                        <img class="full-image" src="img/2.jpeg"></a>
                        <div class="img_text">
                            2000人<span>品尝过</span>
                        </div>
                    </div>
                    <div class="item item-avatar item_box">
                        <img src="img/avatar1.jpg" ng-click="person(1)" class="person_img">

                        <div class="row" href="#/tab/dash/0">
                            <div class="col-90">
                                <h2>恋家厨房</h2>

                                <p><i class="ion-ios-location"></i> 成都市高新区英郡12栋2204</p>

                                <p><i class="ion-ios-checkmark"></i> 实名认证</p>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-item>
            <ion-item class="item">
                <div class="list">
                    <div class="item item-body img_box">
                        <img class="full-image" src="img/2.jpeg">

                        <div class="img_text">
                            2000人<span>品尝过</span>
                        </div>
                    </div>
                    <div class="item item-avatar item_box">
                        <img src="img/avatar1.jpg" ng-click="person(1)" class="person_img">
                        <!--<img src="posts/avatars/avatar1.jpg" ng-click="scanQRCode()">-->
                        <!--<h2>Marty McFly</h2>-->

                        <!--<p>November 05, 1955</p>-->
                        <!--<a class="button button-icon icon ion-arrow-down-b" style="padding: 0px;"></a>-->

                        <div class="row">
                            <div class="col-90">
                                <h2>恋家厨房</h2>

                                <p><i class="ion-ios-location"></i> 成都市高新区英郡12栋2204</p>

                                <p><i class="ion-ios-checkmark"></i> 实名认证</p>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-item>
            <ion-item class="item">
                <div class="list">
                    <div class="item item-body img_box">
                        <img class="full-image" src="img/2.jpeg">

                        <div class="img_text">
                            2000人<span>品尝过</span>
                        </div>
                    </div>
                    <div class="item item-avatar item_box">
                        <img src="img/avatar1.jpg" ng-click="person(1)" class="person_img">
                        <!--<img src="posts/avatars/avatar1.jpg" ng-click="scanQRCode()">-->
                        <!--<h2>Marty McFly</h2>-->

                        <!--<p>November 05, 1955</p>-->
                        <!--<a class="button button-icon icon ion-arrow-down-b" style="padding: 0px;"></a>-->

                        <div class="row">
                            <div class="col-90">
                                <h2>恋家厨房</h2>

                                <p><i class="ion-ios-location"></i> 成都市高新区英郡12栋2204</p>

                                <p><i class="ion-ios-checkmark"></i> 实名认证</p>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
