<ion-view view-title="" hide-nav-bar="true"  class="home_item">
    <div class="bar bar-header item-input-inset">

        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="搜索"/>
        </label>

<!--
        <a class="button button-clear button-balanced" ui-sref="tab.pwd-login">
            登录
        </a>
-->

    </div>
    <div class="bar bar-subheader bar-light" style="height:30px;">
        <div class="index_loction" ui-sref="tab.change-address">
            <i class="ion-ios-location"></i>&nbsp;<span ng-bind="mapCity"></span>
               <span class="item-note">
                       <i class="icon ion-chevron-right icon-accessory"></i>
               </span>
        </div>
    </div>
    <ion-content style="top:75px;" >
        <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()">
        </ion-refresher>
        <ion-slide-box on-slide-changed="slideHasChanged($index)" does-continue="true" auto-play="true"
                       slide-interval="2000">
            <ion-slide>
                <div class="box blue"><img src="img/2.jpeg" alt=""/></div>
            </ion-slide>
            <ion-slide>
                <div class="box yellow"><img src="img/2.jpeg" alt=""/></div>
            </ion-slide>
            <ion-slide>
                <div class="box pink"><img src="img/2.jpeg" alt=""/></div>
            </ion-slide>
        </ion-slide-box>
        <ion-list>
            <ion-item class="item" ng-repeat="mc in merChantData">
                <div class="list img_box"  ui-sref="tab.dash-detail({merchantId:mc.id})"  style="background-image: url({{mc.src}});background-size: 100% 100%;min-height: 200px;color: #fff">
                    <div class="address" style="padding: 5px">
                        <p><i class="ion-ios-location"></i> {{mc.kitchenAddress||'暂无'}}</p>
                        <!--<img class="full-image" src="{{mc.src}}"></a>-->
                        <!--<div class="img_text">
                            111{{mc.cang}}<span>品尝过</span>
                        </div>-->
                    </div>
                    <div class="item-avatar person_img item-icon-left">
                        <img src="{{mc.headImg}}" ng-click="person('{{mc.id}}')">
                        <h2 style="color: #fff">{{mc.kitchenName}}</h2>
                        <span class="badge badge-assertive ng-binding">内蒙古人</span>
                        <i class="icon ion-ribbon-b icon-accessory mainColor" style="top: 15px;left: 37px;"></i>

                        <div class="img_text fr">
                            111{{mc.cang}}人<span>品尝过</span>
                        </div>
                        <!--<span class="badge badge-assertive ng-binding">内蒙古人</span>
                        <div class="row" href="#/tab/dash/{{mc.id}}">
                            <div class="col-90">


                                <p><i class="ion-ios-location"></i> {{mc.kitchenAddress||'暂无'}}</p>

                                <p><i class="ion-ribbon-b"></i> 实名认证</p>
                            </div>
                        </div>-->
                    </div>
                </div>
            </ion-item>
            <!--<ion-item class="item">-->
            <!--<div class="list">-->
            <!--<div class="item item-body img_box">-->
            <!--<img class="full-image" src="img/2.jpeg">-->

            <!--<div class="img_text">-->
            <!--2000人<span>品尝过</span>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="item item-avatar item_box">-->
            <!--<img src="img/avatar1.jpg" ng-click="person(1)" class="person_img">-->
            <!--&lt;!&ndash;<img src="posts/avatars/avatar1.jpg" ng-click="scanQRCode()">&ndash;&gt;-->
            <!--&lt;!&ndash;<h2>Marty McFly</h2>&ndash;&gt;-->

            <!--&lt;!&ndash;<p>November 05, 1955</p>&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="button button-icon icon ion-arrow-down-b" style="padding: 0px;"></a>&ndash;&gt;-->

            <!--<div class="row">-->
            <!--<div class="col-90">-->
            <!--<h2>恋家厨房</h2>-->

            <!--<p><i class="ion-ios-location"></i> 成都市高新区英郡12栋2204</p>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</ion-item>-->
            <!--<ion-item class="item">-->
            <!--<div class="list">-->
            <!--<div class="item item-body img_box">-->
            <!--<img class="full-image" src="img/2.jpeg">-->

            <!--<div class="img_text">-->
            <!--2000人<span>品尝过</span>-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="item item-avatar item_box">-->
            <!--<img src="img/avatar1.jpg" ng-click="person(1)" class="person_img">-->
            <!--&lt;!&ndash;<img src="posts/avatars/avatar1.jpg" ng-click="scanQRCode()">&ndash;&gt;-->
            <!--&lt;!&ndash;<h2>Marty McFly</h2>&ndash;&gt;-->

            <!--&lt;!&ndash;<p>November 05, 1955</p>&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="button button-icon icon ion-arrow-down-b" style="padding: 0px;"></a>&ndash;&gt;-->

            <!--<div class="row">-->
            <!--<div class="col-90">-->
            <!--<h2>恋家厨房</h2>-->

            <!--<p><i class="ion-ios-location"></i> 成都市高新区英郡12栋2204</p>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</ion-item>-->
        </ion-list>
    </ion-content>

</ion-view>
