<ion-view  hide-nav-bar="true">



    <div class="bar bar-header center stable-bg ">
        <div class="buttons">
            <a href="#/my_income" class="button icon-left ion-chevron-left button-clear button-balanced">返回</a>

        </div>
        <h1 class="title">我的账单</h1>
    </div>

    <div class="bar bar-subheader">
        <ion-tabs class="tabs-striped tabs-top  tabs-color-assertive">

            <ion-tab title="全部" ng-click="selectTabWithIndex(0)">


            </ion-tab>
            <ion-tab title="进行中"  ng-click="selectTabWithIndex(1)">


            </ion-tab>

            <ion-tab title="分类"  ng-click="selectTabWithIndex(2)">


            </ion-tab>
        </ion-tabs>
    </div>


    <ion-content class='has-subheader'>




    </ion-content>














</ion-view>