<ion-view hide-nav-bar="true">
    <ion-header-bar class="bar" align-title="center">
        <a class="button button-clear icon ion-ios-arrow-back" href="#/overview"></a>
        <h1 class="title calm">编辑厨房</h1>

        <button class="button button-clear button-calm">
            分享我的厨房
        </button>
    </ion-header-bar>
    <ion-content class="">

            <ion-list class="stable-bg">
                <ion-item class=" item-icon-right" style="margin: 15px 0" href="#/personinfo">

                    <a class="dark" >编辑个人信息</a>


                    <i class="icon  ion-ios-arrow-right"></i>
                    </ion-item>
                     <ion-item class="item  item-icon-right" style="margin: 15px 0" href="#/kitcheninfo">


                    <a class="dark" >编辑厨房信息</a>


                    <i class="icon  ion-ios-arrow-right"></i>
                </ion-item>
            </ion-list>

    </ion-content>
</ion-view>