<ion-view view-title="编辑厨房">
    <ion-header-bar class="bar-positive" align-title="center">
        <div class="buttons">
            <button class="button" ng-click="doSomething()">返回</button>
        </div>
        <h1 class="title">编辑厨房</h1>

        <div style="float: right;text-align: center">
            <label style="color: gray">分享我的厨房</label>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div class="padding-top">
                <!--<label class="item item-input">-->
                    <a class="item item-input" href="#/personinfo">编辑个人信息</a>
                <!--</label>-->
            </div>
            <div class="padding-top">
                <!--<label class="item item-input" >-->
                    <a class="item item-input" href="#/kitcheninfo">编辑厨房信息</a>
                <!--</label>-->
            </div>

        </div>
    </ion-content>
</ion-view>