<ion-view hide-nav-bar="true">
    <ion-header-bar class="bar" align-title="center">
        <a class="button button-clear icon ion-ios-arrow-back" href="#/kitcheninfo"></a>
        <h1 class="title calm">厨房故事</h1>

        <button class="button button-clear button-positi ve">
            分享故事
        </button>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <div class="item item-input padding-top icon-align-left">
                <!--<label class="item item-input">-->
                <i class="icon ion-edit"></i>
                <a class="button button-clear" href="#/kitcheninfo_story_myhobby">我的兴趣爱好</a>

                <!--</label>-->
            </div>
            <div class="item item-input padding-top icon-align-left">
                <!--<label class="item item-input" >-->
                <i class="icon ion-edit"></i>
                <a class="button button-clear" href="#/kitcheninfo_story_mykitchenstory">我的厨房故事</a>
                <!--</label>-->
            </div>
        </div>
    </ion-content>
</ion-view>