<ion-view hide-nav-bar="true">
    <ion-header-bar class="bar" align-title="center">
        <a class="button button-clear icon ion-ios-arrow-back" href="#/kitcheninfo"></a>
        <h1 class="title calm">厨房照片</h1>
    </ion-header-bar>
    <ion-content>
        <div class="padding-top">
            <label>
                添加图片(最多4张)
            </label>
        </div>
        <div class="padding-top">
            <label>
                添加按钮
            </label>
        </div>
        <div>
            <a class="button button-block button-positive" ng-click="">
                保存
            </a>
        </div>
    </ion-content>
</ion-view>