<ion-view hide-nav-bar="true">
    <ion-header-bar class="bar bar-header">
        <a class="button button-clear icon ion-ios-arrow-back" href="#/editkitchen"></a>
        <div class="h1 title calm" align-text="center">编辑个人信息</div>
        <button class="button button-clear button-positi ve calm">
            保存
        </button>
    </ion-header-bar>
    <ion-content>
        <ul>
            <li class="item">
                <div align="center"><a class="button button-clear ion-camera calm"></a><br><label>点击上传图片</label></div>
            </li>
            <li class="item item-input">
                <span class="input-label"><i class="icon" style="color: #e6b400">*</i>姓氏</span><input type="text"
                                                                                                      placeholder="请填写姓氏"/>
            </li>
            <li class="item">
                <div class="item-content">
                    <span class="input-label">
                        <i class="icon" style="color: #e6b400">*</i>
                        性别
                    </span>
                    <input type="radio" name="sex" checked="checked"/>男
                    <input name="sex" type="radio"/>女
                </div>
            </li>
            <li class="item item-input">
                <span class="input-label"><i class="icon" style="color: #e6b400">*</i>年龄段</span>
                <input class="button button-clear" list="order_list" name="order" placeholder="请选择"
                       required="required"/>
                <datalist id="order_list">
                    <option label="0-10" value="0-10"/>
                    <option label="11-20" value="11-20"/>
                    <option label="21-30" value="21-30"/>
                    <option label="31-40" value="31-40"/>
                    <option label="50以上" value="50以上"/>
                </datalist>
            </li>
            <li class="item item-input">
                <span class="input-label"><i class="icon" style="color: #e6b400">*</i>家乡</span>
                <input class="button button-clear" list="homeless_list" name="order" placeholder="请选择"
                       required="required"/>
                <datalist id="homeless_list">
                    <option label="四川" value="四川"/>
                    <option label="北京" value="北京"/>
                    <option label="上海" value="上海"/>
                    <option label="重庆" value="重庆"/>
                    <option label="河北" value="河北"/>
                </datalist>
            </li>
            <li class="row">
                <div class="col-50" align="center">
                    <label>身份照(正面照)</label>

                    <div>
                        <i class="ion ion-android-add"></i>
                    </div>
                </div>
                <div class="col-50" align="center">
                    <label>健康证(正面照)</label>

                    <div>
                        <i class="ion ion-android-add"></i>
                    </div>
                </div>
            </li>
        </ul>
    </ion-content>
</ion-view>