<ion-view hide-nav-bar="true">
    <ion-header-bar class="bar" align-title="center">
        <a class="button button-clear button-calm icon ion-ios-arrow-back" href="#/kitcheninfo"></a>
        <h1 class="title ">厨房故事</h1>

        <button class="button button-clear button-calm">
            分享故事
        </button>
    </ion-header-bar>
    <ion-content>
        <ion-item class="item  stable-bg  "style="margin-top: 20px;">
            <span style="" >我的兴趣爱好</span>
            <a style=" margin-top: -5px; padding: 5px 10px;"  class="item-note calm-bg light" href="#/kitcheninfo_story_myhobby">编辑</a>
        </ion-item>
        <ion-item class="item" style="padding: 20px">

        </ion-item>
        <ion-item class="item  stable-bg  ">
            <span style="" >我的厨房故事</span>
            <a style=" margin-top: -5px; padding: 5px 10px;"  class="item-note calm-bg light" href="#/kitcheninfo_story_mykitchenstory">编辑</a>
        </ion-item>
        <ion-item class="item" style="padding: 20px">

        </ion-item>
        <!--<div class="list">-->

            <!--<div class="item item-input padding-top icon-align-left">-->
                <!--&lt;!&ndash;<label class="item item-input">&ndash;&gt;-->
                <!--<i class="icon ion-edit"></i>-->
                <!--<a class="button button-clear" href="#/kitcheninfo_story_myhobby">我的兴趣爱好</a>-->

                <!--&lt;!&ndash;</label>&ndash;&gt;-->
            <!--</div>-->
            <!--<div class="item item-input padding-top icon-align-left">-->
                <!--&lt;!&ndash;<label class="item item-input" >&ndash;&gt;-->
                <!--<i class="icon ion-edit"></i>-->
                <!--<a class="button button-clear" href="#/kitcheninfo_story_mykitchenstory">我的厨房故事</a>-->
                <!--&lt;!&ndash;</label>&ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->
    </ion-content>
</ion-view>