<ion-view view-title="" hide-nav-bar="true" hide-tabs>
    <ion-header-bar>
        <h1 class="title">密码登陆</h1>
        <a class="button button-clear" onclick="history.back()"><span
                class="ion-close-circled"></span></a>
    </ion-header-bar>
    <ion-content>
        <form id="userLogin" name="userLogin" novalidate>
            <div class="list">
                <div class="item item-input">
                    <input type="text" ng-model="user.tel" placeholder="输入手机号">
                </div>
                <div class="item item-input">
                    <input type="password" ng-model="user.password" placeholder="输入密码">
                    <a class="icon button button-clear button-small ion-help-circled" ui-sref="tab.reset-pwd-one"></a>
                </div>
                <button class="button button-block bar-balanced" ng-click="signIn(user.tel, user.password)">登录</button>
                <!--绝对居中偏下-->
                <p class="existingAccount">没有账户？&nbsp;&nbsp;<a ui-sref="tab.user-register"
                                                               style="color: #0c63ee">立即注册</a></p>
            </div>
        </form>
    </ion-content>
</ion-view>