<ion-view hide-nav-bar="true">
    <ion-header-bar class="bar" align-title="center">
        <a class="button button-clear icon ion-ios-arrow-back" href="#/kitcheninfo-story"></a>

        <h1 class="title calm">编辑厨房故事</h1>

    </ion-header-bar>
    <ion-content class="stable-bg">
        <ion-item class="item-input light-bg" style="margin: 20px 0;">
            <input type="text" placeholder="给自己的故事起个题目"/>
        </ion-item>
        <ion-item class="item-input">
            <textarea placeholder="说说您与美食的故事?让吃货们感受到美味中的情感点滴..  ." style="overflow-y: hidden" rows="10"></textarea>

        </ion-item>
        <label style="color: #ffc900; ">
            说明:可添加1-4张图片,字数在50-1000之间
        </label>
        <ion-item class="padding" style="margin-top: 10px;">
            <p >添加图片</p>
            <a ng-click="addXfzPic()" class="tab-item calm-bg light"
               style=" height: 60px; width: 60px;padding: 13px 5px 5px 5px; ">
                <i class="icon ion-plus "></i>
            </a>
        </ion-item>
        <!--<div class="item padding-top ">-->
            <!--<label class="item-input">-->
                <!--<input type="text" placeholder="给自己的故事起个题目"/>-->
            <!--</label>-->
        <!--</div>-->

        <!--<div class="padding-top item">-->
            <!--<div class=" item-input">-->
                <!--<textarea placeholder="说说您与美食的故事?让吃货们感受到美味中的情感点滴..." style="overflow-y: hidden" rows="10"></textarea>-->
            <!--</div>-->
            <!--<div class="padding-left">添加图片</div>-->
        <!--</div>-->
        <!--<div>-->
            <!--<label style="color: #ffc900">-->
                <!--说明:可添加1-4张图片,字数在50-1000之间-->
            <!--</label>-->

        <!--</div>-->
        <!--<div>-->
            <!--<a class="button button-block button-positive" ng-click="">-->
                <!--保存-->
            <!--</a>-->
        <!--</div>-->
    </ion-content>
</ion-view>