<ion-view hide-nav-bar="true">
    <ion-header-bar class="bar" align-title="center">
        <a class="button button-clear button-calm icon ion-ios-arrow-back" href="#/kitcheninfo-story"></a>

        <h1 class="title ">编辑我的兴趣爱好</h1>
        <button ng-click="isSaveText()" class="button button-clear button-calm ">
            保存
        </button>
    </ion-header-bar>
    <ion-content>

        <ion-item class="item-input">
            <textarea ng-model="text"
                     placeholder="编辑我的兴趣爱好....." style="overflow-y: hidden;margin-top: 20px;" rows="10" ></textarea>

        </ion-item>
        <label style="color: #ffc900; ">
            说明:可添加1-4张图片,字数在50-1000之间
        </label>
    </ion-content>
</ion-view>
