<ion-view hide-nav-bar="true">
    <ion-header-bar class="bar" align-title="center">
        <a class="button button-clear icon ion-ios-arrow-back" href="#/kitcheninfo"></a>
        <h1 class="title calm">厨房照片</h1>
        <button ng-click="savePicPath()" class="button button-clear button-calm ">
            保存
        </button>
    </ion-header-bar>
    <ion-content>
        <ion-item class="padding" >
            <span  style="margin: 10px 0">添加图片（最多四张）</span>
            <ion-list>
                <ion-item ng-repeat="item in imgs">
                    <img ng-src="{{item.url}}" style="width: 128px; height: 64px">
                    <i class="icon ion-android-remove-circle" data-ng-click="removePic($index)"></i>
                </ion-item>
            </ion-list>
            <a ng-click="addPic()" class="tab-item calm-bg light"
               style=" height: 60px; width: 60px;padding: 13px 5px 5px 5px; ">
                <i class="icon ion-plus "></i>
            </a>
        </ion-item>
    </ion-content>
</ion-view>
