<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' type="text/css" href='https://cdn.bootcss.com/bootstrap/2.3.2/css/bootstrap.css'/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/2.3.2/css/bootstrap.min.css">
    <!--<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-responsive.css">-->
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/ng-dialog/0.5.1/css/ngDialog.min.css">

    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/bootstrap/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">

    <link rel="stylesheet" type="text/css"
          href="https://cdn.bootcss.com/ng-dialog/0.5.1/css/ngDialog-theme-default.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/angular-ui-select/0.12.1/select.css">
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/sanitize.css/2.0.0/sanitize.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.css">


    <link href="/bootstrap/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <!--<script src="./js/jquery.min.js"></script>-->

    <script src="//cdn.bootcss.com/angular.js/1.4.5/angular.js"></script>
    <script src="/js/angularjs/angular-route.js"></script>
    <script src="/js/pingpp_pay.js"></script>

</head>