<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' type="text/css" href='/stylesheets/bootstrap.css'/>
    <!--<link href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-responsive.css">
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/ng-dialog/0.3.8/css/ngDialog.min.css">




    <link rel="stylesheet" type="text/css"
          href="http://cdn.bootcss.com/ng-dialog/0.3.8/css/ngDialog-theme-default.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/angular-ui-select/0.11.2/select.css">
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/sanitize.css/2.0.0/sanitize.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.css">




    <script src="/js/angularjs/angular.js"></script>
    <script src="/js/angularjs/angular-route.js"></script>
    <script src="/js/pingpp_pay.js"></script>

    <!--<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>-->
    <!--<script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>-->
</head>