<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">优饭</a>

            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="#">系统设置</a></li>
                    <li><a href="#">客户管理</a></li>
                    <li><a href="#">商家管理</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>