<ion-view view-title="" hide-nav-bar="true">


    <div class="bar bar-header center item-input-inset light-bg">


        <div class="bar bar-header bar-light dishes-p ">
            <a class="button button-clear icon ion-ios-arrow-left  " style="padding: 0 18px 0 15px;"
               href="#/all_order"></a>

            <h1 class="title">订单查询</h1>

            <a class=" button button-clear calm " style="padding: 0 3px 0 10px; line-height: 38px; "
                    >
                按日期查询
            </a>
        </div>

    </div>


    <div class="bar bar-subheader">

        <br/>


    </div>

    <ion-content class='has-subheader'>


    </ion-content>




</ion-view>