<ion-view view-title="送餐地址" hide-tabs>
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="联系人" ng-model="task.title">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="手机号码" ng-model="task.title">
            </label>
            <ion-list>
                <ion-item class="item item-icon-right">
                    <span>所在地区</span>
                    <i class="icon ion-ios-arrow-right"></i>
                </ion-item>
            </ion-list>
            <label class="item item-input">
                <input type="text" placeholder="详细地址" ng-model="task.title">
                <i class="icon ion-ios7-arrow-right"></i>
            </label>

        </div>
        <div class="padding">
            <p>给地址价格标签下次选址更方便哦！！</p>
            <button class="button button-outline button-balanced little-button">家</button>
            <button class="button button-outline button-balanced little-button">公司</button>

        </div>
    </ion-content>
</ion-view>