<ion-view view-title="" hide-tabs class="care" hide-nav-bar="true">
    <ion-header-bar class="bar" align-title="center">
        <a class="button icon ion-ios-arrow-left button-clear" ui-sref="tab.chats"></a>

        <h1 class="title">送餐地址</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list" ng-repeat="item in arry">
            <a class="item item-avatar" href="#">
                <div class="item_left">
                    {{item.mealsAddress.address}}<br>
                    <button class="button button-outline button-balanced little-button">{{item.mealsAddress.label}}</button>
                </div>
                <span>{{item.mealsAddress.contact}}</span>

                <h2>{{item.mealsAddress.tel}}</h2>

                <p>{{item.mealsAddress.address}}</p>
            </a>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-balanced">
        <a ui-sref="" class="title" ng-click="modal.show()"> 添加新地址</a>
    </div>
</ion-view>