<ion-view view-title="我的消息" hide-tabs  hide-nav-bar="true" cache-view="false" class="message">
    <ion-header-bar class="bar bar-header">
        <button class="button icon ion-ios-arrow-left button-clear" ui-sref="tab.chats"></button>
        <h2 class="title">我的消息</h2>
    </ion-header-bar>
    <ion-tabs class=" tabs-striped tabs-top">
        <ion-tab title="通知">
            <ion-content>
                <ion-item data-ng-repeat="item in data" data-ng-click='checkDetail(item.index)'"
                          class="item-remove-animate item-avatar" type="item-text-wrap">
                    <img src="img/2.jpeg">

                    <div class="care_text">
                        <span>{{item.title}}</span>

                        <p>{{item.des}}</p>
                        <span ng-if="item.status == '未读'" class="badge badge-assertive">{{item.status}}</span>
                    </div>

                </ion-item>
            </ion-content>
        </ion-tab>

        <ion-tab title="评论">
            <ion-content>
                <ion-item class="item-remove-animate item-avatar" type="item-text-wrap">
                    <img src="img/2.jpeg">

                    <div class="care_text">
                        <span> y有饭1020 </span>

                        <p>订购了鱼香茄子</p>
                    </div>
                </ion-item>
                <ion-item class="item-remove-animate item-avatar" type="item-text-wrap">
                    <img src="img/2.jpeg">

                    <div class="care_text">
                        <span> y有饭1020 </span>

                        <p>订购了鱼香茄子</p>
                    </div>
                </ion-item>
                </ion-slide>
                <ion-slide>
                    <ion-item class="item-remove-animate item-avatar" type="item-text-wrap">
                        <img src="img/2.jpeg">

                        <div class="care_text">
                            <span> y有饭1020回复了您 </span>

                            <p>“鱼香茄子真好吃”</p>
                        </div>
                    </ion-item>
                    <ion-item class="item-remove-animate item-avatar" type="item-text-wrap">
                        <img src="img/2.jpeg">

                        <div class="care_text">
                            <span> y有饭1020回复了您 </span>

                            <p>“鱼香茄子真好吃”</p>
                        </div>
                    </ion-item>
                    <ion-item class="item-remove-animate item-avatar" type="item-text-wrap">
                        <img src="img/2.jpeg">

                        <div class="care_text">
                            <span> y有饭1020回复了您 </span>

                            <p>“鱼香茄子真好吃”</p>
                        </div>
                    </ion-item>

            </ion-content>
        </ion-tab>

    </ion-tabs>

</ion-view>