<ion-view view-title="我的消息" hide-tabs hide-nav-bar="true" cache-view="false" class="message">
    <ion-header-bar class="bar bar-header">
        <button class="button icon ion-ios-arrow-left button-clear" ui-sref="tab.chats"></button>
        <h2 class="title">我的消息</h2>
        <button class="button button-icon ion-ios-trash-outline color"
                ng-click="showDelete = !showDelete"></button>
    </ion-header-bar>
    <ion-tabs class=" tabs-striped tabs-top">
        <ion-tab title="通知">
            <ion-content>
                <ion-list show-delete="showDelete"
                          class="">
                    <ion-item class="item-remove-animate item-avatar" data-ng-repeat="item in data"
                              data-ng-click='checkDetail(item.index)'
                    " >

                    <img src="img/1.jpg">
                    <span ng-if="item.status == 0" class="message_badge"></span>

                    <div class="care_text">
                        <p>
                            <span class="alleft"><b>{{item.title}}</b></span>
                            <span class="alright"><font style="font-size:12px;">{{item.date}}</font> &nbsp;<i
                                    class="ion-ios-arrow-down" ng-click="item.active = !item.active"></i></span>
                        </p>

                        <p class="message_text" ng-class="{add_text : item.active}">{{item.des}}</p>
                    </div>
                    <ion-delete-button class="ion-minus-circled" ng-click="deleteItem(item)"></ion-delete-button>
                    </ion-item>
                </ion-list>
                </ion-item>
            </ion-content>
        </ion-tab>

        <ion-tab title="评论">
            <ion-content>
                <ion-item class="item-remove-animate item-avatar" type="item-text-wrap">
                    <img src="img/2.jpeg">

                    <div class="care_text">
                        <span> y有饭1020 </span>

                        <p>订购了鱼香茄子</p>
                    </div>
                </ion-item>
                <ion-item class="item-remove-animate item-avatar" type="item-text-wrap">
                    <img src="img/2.jpeg">

                    <div class="care_text">
                        <span> y有饭1020 </span>

                        <p>订购了鱼香茄子</p>
                    </div>
                </ion-item>
                </ion-slide>
                <ion-slide>
                    <ion-item class="item-remove-animate item-avatar" type="item-text-wrap">
                        <img src="img/2.jpeg">

                        <div class="care_text">
                            <span> y有饭1020回复了您 </span>

                            <p>“鱼香茄子真好吃”</p>
                        </div>
                    </ion-item>
                    <ion-item class="item-remove-animate item-avatar" type="item-text-wrap">
                        <img src="img/2.jpeg">

                        <div class="care_text">
                            <span> y有饭1020回复了您 </span>

                            <p>“鱼香茄子真好吃”</p>
                        </div>
                    </ion-item>
                    <ion-item class="item-remove-animate item-avatar" type="item-text-wrap">
                        <img src="img/2.jpeg">

                        <div class="care_text">
                            <span> y有饭1020回复了您 </span>

                            <p>“鱼香茄子真好吃”</p>
                        </div>
                    </ion-item>

            </ion-content>
        </ion-tab>

    </ion-tabs>

</ion-view>