<ion-view hide-nav-bar="true" hide-tabs>
    <ion-header-bar class="bar" align-title="center">
        <a class="button icon ion-ios-arrow-left button-clear" onclick="history.back()"></a>

        <h1 class="title">订单详情</h1>
    </ion-header-bar>
    <ion-content>
        <ion-scroll>
            <div class="card">
                <div class="item item-divider">
                    <span>菜品</span>

                    <p class="item-note mainColor">单价</p>

                    <p class="item-note mainColor" style="margin-right: 50px;">数量</p>
                </div>
                <div class="item item-text-wrap">
                    <span>大份黄焖鸡</span>

                    <p class="item-note mainColor">￥20</p>

                    <p class="item-note mainColor" style="margin-right: 50px;">1份</p>
                </div>
                <div class="item item-text-wrap">
                    <span>青椒肉丝</span>

                    <p class="item-note mainColor">￥40</p>

                    <p class="item-note mainColor" style="margin-right: 50px;">2份</p>
                </div>
                <div class="item item-text-wrap">
                    <span>回锅肉</span>

                    <p class="item-note mainColor">￥30</p>

                    <p class="item-note mainColor" style="margin-right: 50px;">10份</p>
                </div>
                <div class="item item-divider">
                    <span>合计</span>

                    <p class="item-note mainColor">￥380</p>

                </div>
                <ion-list>
                    <ion-item class="item item-icon-left">
                        <i class="icon ion-card"></i>
                        <span>付款状态</span>

                        <p class="item-note mainColor">待付款</p>
                    </ion-item>
                    <ion-item class="order_Details">
                        <ul>
                            <li><b>订 单 号&nbsp;&nbsp; :</b>{{order.orderNo}}</li>
                            <li><b>下单时间 :</b>{{order.orderTime}}</li>
                            <li><b>支付方式 :</b>{{order.repastMode}}</li>
                            <li><b>联 系 人&nbsp;&nbsp; :</b>李忠诚</li>
                            <li><b>手机号码 :</b>15159862314</li>
                            <li><b>收货地址 :</b>天府软件园d7-903</li>
                            <!--<li><b>配送信息 :</b>本地单由京东外卖提供配送服务</li>-->
                        </ul>

                    </ion-item>

                </ion-list>


            </div>


        </ion-scroll>

    </ion-content>
    <div class="bar bar-footer bar-calm">
        <div class="button-bar">
            <a class="button button-clear" href="#/tab/pay-success">去支付</a>
        </div>
    </div>
</ion-view>