<ion-view hide-nav-bar="true" hide-tabs>
    <ion-content>
        <div class="text-center" style="margin-top: 40px">
            <h2 class="mainColor">支付成功</h2>
            <p class="mainColor">支付金额:38.00</p>
            <p>等待家厨做饭</p>
        </div>
        <div class="row"  style="margin-top: 40px">
            <a class="col col-25 col-offset-25 button-small button button-calm button-outline" href="#/tab/order-detail">查看订单</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="col col-25 button-calm button-small button button-outline" href="#/tab/dash">返回首页</a>
        </div>
    </ion-content>
</ion-view>