<ion-view view-title="我的资料" hide-tabs>
    <ion-header-bar>
        <!--<a class="button button-icon icon-left ion-chevron-left button-clear"></a>-->
        <button class="button icon ion-ios-arrow-left button-clear" onclick="history.back()"></button>
        <h2 class="title">我的资料</h2>
        <button class="button button-clear mainColor">
            保存
        </button>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item class="item-image">
                <img src="img/2.jpeg">
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item>
                昵称
                <span class="item-note">
                    <input type="text" value="饭友6666">
                </span>
            </ion-item>
            <ion-item class="item-icon-right" ng-click="showActionSexSheet(1)">
                性别
                 <span class="item-note">
                  待完善<i class="icon ion-chevron-right icon-accessory"></i>
                </span>
            </ion-item>
            <ion-item class="item-icon-right" ng-click="showActionSexSheet(2)">
                年龄
                 <span class="item-note">
                  待完善<i class="icon ion-chevron-right icon-accessory"></i>
                </span>
            </ion-item>
            <ion-item>
                职业
                 <span class="item-note">
                  <input type="text" placeholder="待完善">
                </span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>