<ion-view hide-tabs hide-nav-bar="true" class="personal_info">
    <ion-header-bar>
        <!--<a class="button button-icon icon-left ion-chevron-left button-clear"></a>-->
        <button class="button icon ion-ios-arrow-left button-clear" ui-sref="tab.chats"></button>
        <h2 class="title">我的资料</h2>
        <button class="button button-clear mainColor" ng-click="show(post)">保存</button>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item class="item-image">
                <img src="img/2.jpeg">
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item>
                昵称
                <span class="item-note">
                    <input type="text" ng-model="post.name" value={{post.name}}>
                </span>
            </ion-item>
            <ion-item class="item-icon-right" ng-click="showActionSexSheet(1)">
                性别
                <span class="item-note"><span ng-bind="post.sex">{{post.sex}}</span>
                  <i class="icon ion-chevron-right icon-accessory"></i>
                </span>
            </ion-item>
            <ion-item class="item-icon-right" ng-click="showActionSexSheet(2)">
                年龄
                 <span class="item-note">
                  <span ng-bind="post.age">{{post.age}}</span><i class="icon ion-chevron-right icon-accessory"></i>
                </span>
            </ion-item>
            <ion-item>
                职业
                 <span class="item-note">
                  <input type="text" ng-model="post.jobs" value={{post.jobs}} placeholder="待完善">
                </span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>