<ion-view view-title="设置" hide-tabs>
    <ion-content>
        <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
            <h2>登录密码</h2>
            <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
            <h2>免责声明</h2>
            <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
            <h2>清除缓存</h2>
            <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
            <h2>意见反馈</h2>
            <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
            <h2>给我评分</h2>
            <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
    </ion-content>
    <div class="bar bar-footer bar-balanced">
        <div class="title"> 注销登录</div>
    </div>
</ion-view>