<ion-view view-title="个人中心" hide-nav-bar="true">
    <ion-header-bar class="item-input-inset ">
        <h1 class="title">个人中心</h1>
        <a class="button button-clear icon-right ion-ios-gear-outline" ui-sref="tab.set"></a>
    </ion-header-bar>
    <ion-content>
        <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap"
                  ui-sref="tab.personal-info" style="margin-bottom:20px;">
            <img src="img/2.jpeg">

            <div class="care_text">
                <span> 忧饭2014 </span>
                <span class="alright"> <i class="icon ion-chevron-right icon-accessory"></i> </span>

                <p>待完善</p>
            </div>
        </ion-item>
        <ion-list class="person">
            <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap"
                      ui-sref="tab.order">
                <span>我的订单</span>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap"
                      ui-sref="tab.wallet">
                <span class="alleft">我的钱包</span>
                <span class="item-note allright">
                    余额、优惠券<i class="icon ion-chevron-right icon-accessory"></i>
                </span>
            </ion-item>
            <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" ui-sref="tab.care">
                <span>我的关注</span>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap"
                      ui-sref="tab.message">
                <span>我的消息</span>
                <i class="icon ion-chevron-right icon-accessory"></i>
                <span class="badge badge-assertive">{{msgNumber == 0?"":msgNumber}}</span>
            </ion-item>
            <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap"
                      ui-sref="tab.address">
                <span>送餐地址</span>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap"
                      href="#/tab/chats/{{chat.id}}">
                <span>我要做饭</span>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
