<ion-view view-title="我的钱包" hide-tabs cache-view="false">
<ion-content>
        <ion-list>
        <!--    <ion-item class="item-icon-right" ui-sref="tab.withdrawals">
                余额
                <span class="item-note">
                  ￥0
                </span>
            </ion-item>-->
            <ion-item class="item-icon-right" href="#/tab/coupons">
                优惠券
                 <span class="item-note">
                  1张<i class="icon ion-chevron-right icon-accessory"></i>
                </span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>