<ion-view hide-nav-bar="true" hide-tabs>
    <ion-header-bar  align-title="center">
        <h1 class="title">发现</h1>
    </ion-header-bar>
    <ion-content>
        <ion-item class="item">
            <img class="full-image" src="img/2.jpeg"></a>
        </ion-item>
        <ion-item class="item">
            <img class="full-image" src="img/2.jpeg"></a>
        </ion-item>
        <ion-item class="item">
            <img class="full-image" src="img/2.jpeg"></a>
        </ion-item>
    </ion-content>
</ion-view>
