
<ion-view hide-nav-bar="true" hide-tabs>
    <ion-header-bar class="bar bar-header">
        <a class="button button-clear icon ion-ios-arrow-back" href="#/overview"></a>
        <div class="h1 title calm" align-text="center">设置</div>

    </ion-header-bar>
    <ion-content style="margin-top: 20px;">

        <div class="list">
            <a class="item item-icon-right " href="#">
              我的银行卡
                <i class="icon  ion-ios-arrow-right"></i>
            </a>
        </div>
        <div class="list">

            <a class="item item-icon-right" href="#/settings/helps">

                帮&nbsp;助
                <i class="icon  ion-ios-arrow-right"></i>
            </a>
        </div>
        <div class="list">
            <a class="item item-icon-right" href="#/settings/disclaimer">
             
                免责声明
                <i class="icon  ion-ios-arrow-right"></i>
            </a>
        </div>
        <div class="list">
            <a class="item item-icon-right" href="#/settings/disclaimer">

             检测新版本
                <i class="icon  ion-ios-arrow-right"></i>
            </a>
        </div>


    </ion-content>
    <div class="bar bar-footer bar-calm">
        <div class="button-bar">
            <a class="button button-clear" href="#">退出账号</a>
        </div>
    </div>
</ion-view>
