<ion-view view-title="设置">
    <ion-content class="padding">

        <div class="list">
            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon ion-chatbubble-working"></i>
                Call Ma
                <i class="icon ion-ios7-telephone-outline"></i>
            </a>
        </div>
        <div class="list">
            <a class="item item-icon-left" href="#/settings/help">
                <i class="icon ion-mic-a"></i>
                帮&nbsp;助
                <span class="item-note">Grammy</span>
            </a>
        </div>
        <div class="list">
            <a class="item item-icon-left" href="#/settings/disclaimer">
                <i class="icon ion-person-stalker"></i>
                免责声明
                <span class="badge badge-assertive">0</span>
            </a>
        </div>
    </ion-content>
</ion-view>
