<form role="form" name="adminmainctrForm" class="form-horizontal" novalidate>
    <div class="ngdialog-buttons">
        <div class="ngdialog-tilte">来自网页的消息</div>
        <div>
            <div>
                <label>活动事件</label><input ng-model="add_event" type="text">
            </div>
            <div>
                <label>活动名称</label><input ng-model="add_title" type="text">
            </div>
            <!--<div>-->
            <!--<label>端：</label>-->
            <!--</div>-->
            <div>
                <label>活动类型（下拉选择框）</label>
            </div>
            <div>
                <label>活动优惠方式（radio）</label>
            </div>
            <div>
                <label>是否唯一参加活动（checkBox）</label>
            </div>
            <div>
                <label>是否可以同时使用优惠券（checkBox）</label>
            </div>
            <!--<div>-->
            <!--<label>是否全场使用（checkBox）</label>-->
            <!--</div>-->
            <div id="vadivdityTime">
                <label>优惠券有效期</label><input ng-model="add_title" type="text">
            </div>
            <div>
                <label>活动开始时间</label><input ng-model="add_title" type="text">
            </div>
            <div>
                <label>活动结束时间</label><input ng-model="add_title" type="text">
            </div>
            <div>
                <label>活动处理类</label><input ng-model="add_title" type="text">
            </div>
            <div>
                <label>活动描述</label><textarea class="form-control"> 活动描述</textarea>
            </div>
            <button type="submit" class="btn btn-success">新增活动</button>
            <button type="reset" class="btn ">重置</button>
            <button type="console" class="btn">取消</button>
        </div>

    </div>
</form>