<div class="row-fluid">
    <div class="span12">
        <div>
            <label>添加优惠券类型</label>
            <li>
                <div style="height:40px;">
                    <label>优惠券名称：</label>
                    <input type="text" data-ng-model="add_voucher.title" style="height: 30px;width: 200px;">
                </div>
            </li>

            <li>
                <div style="height:40px;">
                    <label>优惠对象：</label>
                    <select class="selectpicker" data-ng-model="add_voucher.port" style="height: 30px;width: 200px;">
                        <option>客户端</option>
                        <option>商家端</option>
                    </select>
                </div>
            </li>

            <li>
                <label>优惠内容：</label>
                <button class="btn" ng-click="add_content()">添加优惠内容</button>
                <div ng-repeat="cont in add_voucher.content">
                    <label>优惠{{$index+1}}：</label>

                    <div style="height: 40px;">
                        <label>优惠方式：</label>
                        <select class="selectpicker" data-ng-model="cont.type" style="height: 30px;width: 150px;">
                            <option>满减</option>
                            <option>折扣</option>
                            <option>返现</option>
                        </select>
                    </div>
                    <div style="height:40px;">
                        <label>优 惠 量 ：</label>
                        <input type="text" data-ng-model="cont.value" style="height: 30px;width:150px;">
                        <label ng-if="cont.type=='满减'" style="color: blue">元(RMB)</label>
                        <label ng-if="cont.type=='折扣'" style="color: red">折 (如 8：八折 8.7：八七折)</label>
                        <label ng-if="cont.type=='返现'" style="color: blue">元(RMB)</label>
                    </div>
                    <div >
                        <div style="height:40px;">
                            <label>优惠条件：</label>
                            <button class="btn" ng-click="add_condition(cont.conditions)">添加优惠内容</button>
                        </div>
                        <div ng-repeat="cond in cont.conditions" style="height:40px;">
                            <select class="selectpicker" data-ng-model="cond.attr" style="height: 30px;width:80px;">
                                <option>价格</option>
                            </select>
                            <select class="selectpicker" data-ng-model="cond.oper" style="height:30px;width: 80px;">
                                <option>大于</option>
                                <option>大于等于</option>
                                <option>等于</option>
                                <option>小于</option>
                                <option>小于等于</option>
                            </select>
                            <input type="text" data-ng-model="cond.value" style="height: 30px;width: 80px;">
                            <button class="btn" ng-click="delete_condition(cont.conditions,$index)">删除</button>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div>
                    <label>描述：</label>
                     <textarea style="width: 380px;height: 100px;float: left" data-ng-model="add_voucher.desc"
                               class="form-control" placeholder="优惠券描述"> </textarea>
                </div>

            </li>
        </div>
    </div>
    <div>
        <button style="float: right" class="btn" ng-click="closeThisDialog()">取消</button>
        <button style="float: right" type="submit" class="btn btn-success" ng-click="submitAddVoucher()">添加优惠券</button>
    </div>
</div>