<ion-view view-title="设置" class="calm" cache-view="false">

    <ion-nav-buttons side="left">
        <button class="button button-clear button-calm" data-ng-click="goState('overview')"><i
            class="icon ion-chevron-left"></i></button>
    </ion-nav-buttons>

    <ion-content class="stable-bg" >

        <ion-item ui-sref="settings.card" class="item  item-icon-right " style="margin: 20px 0;">
            <a class="calm" >
                我的银行卡      </a>
                <i class="icon icon-accessory ion-ios-arrow-right"></i>

        </ion-item>
        <ion-item  ui-sref="settings.helps" class="item  item-icon-right " style="margin: 20px 0;">
            <a class="calm ">
                帮助    </a>
                <i class="icon icon-accessory ion-ios-arrow-right"></i>


        </ion-item>
        <ion-item  ui-sref="settings.disclaimer" class="item  item-icon-right  " style="margin: 20px 0;">
            <a class=" calm">
                免责声明      </a>

            <i class="icon icon-accessory ion-ios-arrow-right"></i>

    </ion-item>
        <ion-item ui-sref="settings.disclaimer" class="item  item-icon-right "  style="margin: 20px 0;">
            <a class="calm"  >
                检测新版本   </a>
                <i class="icon icon-accessory ion-ios-arrow-right"></i>


    </ion-item>


    </ion-content>

    <ion-footer-bar class="bar-calm">
        <a class="title" href="#">退出账号</a>
    </ion-footer-bar>
</ion-view>
