<ion-view view-title="设置" class="calm" cache-view="false">

    <ion-nav-buttons side="left">
        <button class="button button-clear button-calm" data-ng-click="goState('overview')"><i
            class="icon ion-ios-arrow-back"></i></button>
    </ion-nav-buttons>

    <ion-content class="padding">

        <div class="list">
            <a class="item item-icon-right" ui-sref="settings.card">
                我的银行卡
                <i class="icon icon-accessory ion-ios-arrow-right"></i>
            </a>
        </div>
        <div class="list">
            <a class="item item-icon-right" ui-sref="settings.helps">
                帮助
                <i class="icon icon-accessory ion-ios-arrow-right"></i>
            </a>
        </div>
        <div class="list">
            <a class="item item-icon-right" ui-sref="settings.disclaimer">
                免责声明
                <i class="icon icon-accessory ion-ios-arrow-right"></i>
            </a>
        </div>
        <div class="list">
            <a class="item item-icon-right" ui-sref="settings.disclaimer">
                检测新版本
                <i class="icon icon-accessory ion-ios-arrow-right"></i>
            </a>
        </div>

    </ion-content>

    <ion-footer-bar class="bar-positive">
        <a class="title" href="#">退出账号</a>
    </ion-footer-bar>
</ion-view>
