<form role="form" name="adminmainctrForm" class="form-horizontal" novalidate>
    <div class="ngdialog-buttons">
        <div class="ngdialog-tilte">确认商家打款信息</div>
        <ul class="admin-ng-content ">
            <li>网站域名</li>
            <li>可输入如下4种域名形式</li>
            <li>1.主域名（如：www.baidu.com）</li>
            <li>2.二级域名（如：sub.baidu.com)</li>
            <li>3.子目录（如：www.baidu.com/sub）</li>
            <li>4.wap站域名（如：wap.baidu.com）</li>
        </ul>
        <div class="ng-button-div">
            <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog(0)" >返回
            </button>
            <button type="button" class="ngdialog-button  ng-button" ng-click="submitCheckPay()">确定
            </button>
        </div>
    </div>
</form>