<ion-view hide-nav-bar="true" cache-view="false">

    <ion-header-bar class="bar" align-title="center">
        <a class="button button-clear button-calm icon ion-ios-arrow-back" href="#/overview"></a>

        <h1 class="title ">饭友评价</h1>
    </ion-header-bar>

    <ion-content>
        <div class="button-bar light-bg  dishes">
            <a class="button button-clear" ng-class="statusIndex == 0 ? 'current':''"
               ng-click="activeStats(0)">待回复 <i class="calm">10</i> </a>
            <a class="button button-clear    " ng-class="statusIndex == 1 ? 'current':''"
               ng-click="activeStats(1)">好评
                <i class="calm">15</i> </a>
            <a class=" button button-clear " ng-class="statusIndex == 2 ? 'current':''"
               ng-click="activeStats(2)">中评 <i class="calm">20</i> </a>
            <a class=" button button-clear " ng-class="statusIndex == 3 ? 'current':''"
               ng-click="activeStats(3)">差评 <i class="calm">30</i> </a>
        </div>

        <ion-item class="item   " class="list" ng-repeat="comment in comments ">

            <h2>
                <span ng-if="!comment.is_hide_name">{{comment.comment_user}}</span>
                <span ng-if="comment.is_hide_name">匿名饭友</span>
                <span class="alright" ng-bind-html="takeStar(comment.star)">
                      <!--<i class="ion-ios-star calm"></i>-->
                    <!--<i class="ion-ios-star calm"></i>-->
                    <!--<i class="ion-ios-star calm"></i>-->
                    <!--<i class="ion-ios-star-half calm"></i>-->
                    <!--<i class="ion-ios-star-outline"></i>-->
                        </span>
                <button ng-if="!comment.replayed" class="button button-calm button-small item-note"
                        ng-click="replyComments(comment.id)">添加回复
                </button>

            <!--<h2> {{comment.userName}}  <span class="alright">-->
                      <!--<i class="ion-ios-star calm"></i><i class="ion-ios-star calm"></i><i-->
                <!--class="ion-ios-star calm"></i><i-->
                <!--class="ion-ios-star-half calm"></i><i class="ion-ios-star-outline calm"></i>-->
                        <!--</span>-->
                <!--<button ng-show="!comment.replyComments" class="button button-calm button-small item-note" ng-click="replyComments()">添加回复</button>-->

            </h2>

            <p style="margin-top: 10px; white-space: normal;">{{comment.content}} </p>

            <div><img ng-src="http://youfan-merchant-img.b0.upaiyun.com/{{dishesimg}}"
                      ng-repeat="dishesimg in comment.img_url" alt="" ng-click='goToSlide($index,comment.img_url)'
                      style="margin: 0 5px;width: 60px;height: 50px;"/>
            </div>

            <div class="care_text item-note">
               <span class="time item-note">{{comment.commentTime}}</span>
            </div>


            <div class="care_text" style="margin-top: 15px;" ng-if="comment.replayed">
                        <span class="calm">
                            [家厨回复] :
                        </span>
                <p>{{comment.replay_comment}}</p>


            </div>


        </ion-item>
    </ion-content>

