<ion-view hide-nav-bar="true">

    <ion-header-bar class="bar" align-title="center">
        <a class="button button-clear button-calm icon ion-ios-arrow-back" href="#/overview"></a>

        <h1 class="title ">饭友评价</h1>
    </ion-header-bar>

    <ion-content style="padding-top: 8px;">
        <div class="button-bar light-bg ">
            <a class="button button-clear" ng-class="statusIndex == 0 ? 'current':''"
               ng-click="activeStats(0)">待回复 <i class="calm">10</i> </a>
            <a class="button button-clear    " ng-class="statusIndex == 1 ? 'current':''"
               ng-click="activeStats(1)">好评
                <i class="calm">15</i> </a>
            <a class=" button button-clear " ng-class="statusIndex == 2 ? 'current':''"
               ng-click="activeStats(2)">中评 <i class="calm">20</i> </a>
            <a class=" button button-clear " ng-class="statusIndex == 3 ? 'current':''"
               ng-click="activeStats(3)">差评 <i class="calm">30</i> </a>
        </div>

        <ion-item class="item   item-avatar" class="list" ng-repeat="comment in comments ">
            <img ng-src="{{comment.img}}">
            <h2> {{comment.userName}}  <span class="alright">
                      <i class="ion-ios-star"></i><i class="ion-ios-star"></i><i class="ion-ios-star-outline"></i><i
                class="ion-ios-star-outline"></i><i class="ion-ios-star-half"></i>
                        </span>
                <span class="time item-note">{{comment.ctime}}</span></h2>

                    <p style="margin-top: 10px; white-space: normal;">{{comment.content}}      </p>

            <div class="care_text item-note" ng-if="comment.replyComments==''">
            <button class="button button-calm button-small" style="height:" ng-click="replyComments()">添加回复</button>
            </div>


            <div class="care_text"  ng-if="comment.replyComments!=''">
                        <span>
                            [家厨回复] :
                        </span>
                <span>{{comment.replyComments}}</span>

                <p class="time">{{comment.mtime}}</p>
            </div>


        </ion-item>
    </ion-content>

