<div class="span10">
    <table class="table">
        <thead>
        <tr>
            <th>
                活动名称
            </th>
            <th>
                描述
            </th>
            <th>
                状态
            </th>
            <th>
                开始时间
            </th>
            <th>
                结束时间
            </th>
            <th>
                操作
            </th>
        </tr>
        </thead>
        <tbody>
        <tr class="success">
            <td>
                新用户注册活动
            </td>
            <td>
                客户端新用户注册送20元代金券
            </td>
            <td>
                进行中
            </td>
            <td>
                2015年8月18日
            </td>
            <td>
                2016年8月18日
            </td>
            <td>
                开启/关闭
            </td>
        </tr>
        </tbody>
    </table>
</div>
