<div ng-controller="messageCtrl">
    <h1>消息推送</h1>

    <form>
        <h3>消息推送对象：</h3>

        <div >
            <label
                    class="checkbox"><input type="checkbox"/>客户</label>
            <label
                    class="checkbox"><input type="checkbox"/>商家</label>
        </div>

        <label class="checkbox" for="checkbox1"><span class="icon"></span><span class="icon-to-fade"></span>
            <input type="checkbox" value="" id="checkbox1">
            Unchecked
        </label>
        <div class="row-fluid">
            <h3>消息内容：</h3>
            <textarea style="width: 300px;height: 200px;float: left" class="form-control"> 编辑需要推送的消息内容</textarea>

            <div class="alert alert-warning alert-dismissible" role="alert" style="width: 300px;float: left">
                <strong>提示：</strong> 一条消息字数限定为100！
            </div>
        </div>

        <h3>消息计划：</h3>

        <div>
            <label
                    class="checkbox"><input type="checkbox"/>手机短信</label>
            <label
                    class="checkbox"><input type="checkbox"/>系统消息</label>
            <label> 推送时间:</label><input type="text">
            <div class="control-group">
                <label class="control-label">优惠券有效期</label>
                <div class="controls input-append date form_datetime" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                    <input size="16" type="text" value="" readonly>
                    <span class="add-on"><i class="icon-remove"></i></span>
                    <span class="add-on"><i class="icon-th"></i></span>
                </div>
                <input type="hidden" id="dtp_input1" value="" /><br/>
            </div>
        </div>
        <button class="btn btn-info btn-default btn-color">添加推送计划
        </button>
    </form>
    <button type="submit" class="btn">开始推送消息</button>
</div>