<div class="span10">
    <table class="table">
        <thead>
        <tr>
            <th>
                支付平台名称
            </th>
            <th>
                描述
            </th>
            <th>
                状态
            </th>
            <th>
                操作
            </th>
        </tr>
        </thead>
        <tbody>
        <tr class="success">
            <td>
                支付宝
            </td>
            <td>
                支付宝交易平台
            </td>
            <td>
                正常
            </td>
            <td>
                开启/关闭
            </td>
        </tr>
        </tbody>
    </table>
</div>
