<div ng-controller="payCtrl">
    <div>
        <div class="span12" ng-repeat="row in rows">
            <div class="span3" ng-repeat="pay_way in row">
                <img alt="140x140" src="{{pay_way.iconUrl}}"/>
                <div>
                    <button class="btn" type="button" ng-click="changePayWayStatu(pay_way)">{{pay_way.status_btn}} :{{pay_way.name}}</i></button>
                </div>
            </div>
        </div>
    </div>
    <!--<label class="text_amount">-->
        <!--<input id="amount" type="text" placeholder="金 额" value="0.1"/>-->
    <!--</label>-->

    <!--<div>-->
        <!--<button type="button" class="btn btn-primary btn-lg active" ng-click="wap_pay('upmp_wap')">银联WAP(upmp)-->
        <!--</button>-->
        <!--<button type="button" class="btn btn-primary btn-lg active" ng-click="wap_pay('upacp_wap')">银联WAP(upacp)-->
        <!--</button>-->
        <!--<button type="button" class="btn btn-primary btn-lg active" ng-click="wap_pay('alipay_wap')">开启</button>-->
        <!--<button type="button" class="btn btn-primary btn-lg active" ng-click="wap_pay('bfb_wap')">百付宝WAP</button>-->
    <!--</div>-->
    <!--<div>-->
        <!--&lt;!&ndash;<button type="button" class="btn btn-primary btn-lg active" ng-click="testCallback()">测试回调</button>&ndash;&gt;-->
    <!--</div>-->

</div>