<ion-view hide-nav-bar="true" hide-tabs>
    <ion-header-bar class="bar" align-title="center">
        <a class="button button-clear icon ion-ios-arrow-back" href="#/dishes"></a>
        <h1 class="title calm">订单详情</h1>
    </ion-header-bar>
    <ion-content style=" padding-bottom: 1000px;">
            <div class="card">
                <div class="item item-divider">
                    <span>菜品</span>
                    <p class="item-note mainColor" >单价</p>
                    <p class="item-note mainColor" style="margin-right: 50px;">数量</p>
                </div>
                <div class="item item-text-wrap" ng-repeat="dish in detailOrder.dishes">
                    <span>{{dish.name}}</span>
                    <p class="item-note mainColor" >{{dish.price}}</p>
                    <p class="item-note mainColor" style="margin-right: 50px;">{{dish.dishCount}}</p>

                </div>

                <div class="item item-divider">
                    <span>合计</span>
                    <p class="item-note mainColor" >{{detailOrder.total}}</p>
                </div>
                <ion-list >
                    <ion-item class="item item-icon-left">
                        <i class="icon ion-card"></i>
                        <span>付款状态</span>

                        <p class="item-note mainColor">待付款</p>
                    </ion-item>
                    <ion-item class="order_Details ">
                        <ul>
                            <li><b>订单号：</b>{{detailOrder.orderNo}}</li>
                            <li><b>下单时间：</b>{{detailOrder.orderTime| date:'yyyy-MM-dd HH:mm:ss'}}</li>
                            <li><b>支付方式：</b>{{detailOrder.paymentWay}}</li>
                            <li><b>联系人：</b>{{detailOrder.buyerName}}</li>
                            <li><b>手机号码：</b>{{detailOrder.phone}}</li>
                            <li><b>收货地址:</b> {{detailOrder.repastAddress}}</li>
                            <li><b>配送信息:</b> {{detailOrder.comment}}</li>
                        </ul>
                    </ion-item>
                </ion-list>
            </div>
    </ion-content>
    <div class="bar bar-footer bar-calm" ng-if="detailOrder.orderStatus == 2">
        <div class="button-bar">
            <a class="button button-clear"  ng-click="updateStatus(detailOrder.orderNo,detailOrder.orderStatus)">确认</a>
        </div>
    </div>

    <div class="bar bar-footer bar-calm" ng-if="detailOrder.orderStatus == 3">
        <div class="button-bar">
            <a class="button button-clear"  ng-click="updateStatus(detailOrder.orderNo,detailOrder.orderStatus)">完成</a>
        </div>
    </div>

</ion-view>
