<ion-view hide-nav-bar="true" cache-view="false">

    <ion-header-bar  align-title="center">
        <a class="button button-clear   button-calm icon ion-ios-arrow-back" href="#/all_order"></a>

        <h1 class="title button-calm ">订单查询</h1>
        <i class="buttons button-clear">
            <ionic-datepicker input-obj="datepickerObject">
                <button class=" button button-clear button-calm" > 按日期查询</button>
            </ionic-datepicker>
        </i>
    </ion-header-bar>


    <ion-content class=''>
        <div class="list">
            <div class="item item-button-right">
                <div class="item  item-input">
                    <i class="icon ion-search "></i>
                    <input type="text" placeholder="输入手机号后4位">
                </div>
                <button class="button button-calm " style="padding:6px 10px 7px 10px;  margin: 7px 0  0 15px">
                    搜索
                </button>
            </div>
        </div>
    </ion-content>

</ion-view>
