<!DOCTYPE html>
<html lang="ch">
<head>
    <title>运营概况</title>
    <% include comm/header.html %>
</head>

<body >
<!--导航栏-->
<% include comm/nav.html %>
<div class="container-fluid" >
    <div class="row-fluid"  ng-controller="leftMenuCtrl">
        <% include comm/sysleft.html %>
        <div class="span10">
            <div class="row-fluid" id="sysDiv">
                <div ng-include="divHtml"></div>
            </div>
        </div>
    </div>
</div>
<script data-main="js/main" src="js/require-min.js"></script>
</body>
</html>