<!DOCTYPE html>
<html lang="ch">
<head>
    <title>运营概况</title>
    <% include comm/header.html %>
</head>

<body>

<!--导航栏-->
<% include comm/nav.html %>

<div class="container-fluid">
    <div class="row-fluid">
        <label></label>
    </div>
    <div class="row-fluid">
        <% include comm/left.html %>
        <div class="span10" ui-view>
        </div>
    </div>
</div>


<script data-main="js/main" src="/js/require-min.js"></script>
<script type="text/javascript" src="/jquery/jquery-2.1.4.min.js" charset="UTF-8"></script>
<!--<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>-->
<script type="text/javascript" src="/bootstrap/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="/bootstrap/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript" src="/js/utils/calendarUtil.js" charset="UTF-8"></script>
</body>
</html>