<!-- 帮助 -->
<ion-view view-title="" hide-nav-bar="true" cache-view="false"   >

    <ion-header-bar class="item-input-inset light-bg indexbar">
        <div class="bar bar-header bar-light dishes-p ">
            <a class="button button-clear icon ion-ios-arrow-left  " style="padding: 0 15px 0 12px;"
               href="#/overview"></a>

            <div class="button-bar calm-border calm dishes-p ">
                <a class="button calm-border calm " ng-class="dishesIndex == 0 ? 'current':''"
                   ng-click="activedishes(0)">配送</a>
                <a class="button calm-border calm" ng-class="dishesIndex == 1 ? 'current':''"
                   ng-click="activedishes(1)">上门</a>
                <a class="button calm-border calm" ng-class=" dishesIndex == 2 ? 'current':''"
                   ng-click="activedishes(2)">要做的菜</a>
            </div>

            <a class=" button button-clear calm " style="padding: 0 3px 0 10px; line-height: 38px; "
               href="#/query_order">
                查询
            </a>
        </div>

    </ion-header-bar>

    <ion-scroll class="stable-bg" style="height:100%; " cache-view="false" >
        <ion-slide-box on-slide-changed="dishesChanged(index)" active-slide="dishesIndex" show-pager="false">
            <ion-slide ng-repeat="way in ways">
                <div class="  button-bar light-bg dishes">
                    <a class="button button-clear   " ng-class="slideIndex == 0 ? 'current':''"
                       ng-click="activeSlide(0)">配送<i
                            class="calm">10</i> </a>
                    <a class="button button-clear   " ng-class="slideIndex == 1 ? 'current':''"
                       ng-click="activeSlide(1)">已接单 <i
                            class="calm">10</i> </a>
                    <a class="button button-clear    " ng-class="slideIndex == 2 ? 'current':''"
                       ng-click="activeSlide(2)">已完成
                        <i class="calm">15</i> </a>
                    <a class=" button button-clear " ng-class="slideIndex == 3 ? 'current':''" ng-click="activeSlide(3)"
                            >退款中 <i class="calm">20</i> </a>
                    <a class=" button button-clear " ng-class="slideIndex == 4 ? 'current':''" ng-click="activeSlide(4)"
                            >已退款 <i class="calm">30</i> </a>
                </div>

                <ion-slide-box on-slide-changed="slideChanged(index)" active-slide="slideIndex" show-pager="false">
                    <ion-slide ng-repeat="dorder in dorders" class="order">
                        <ion-list  >
                            <ion-item >
                                <span>订单编号：135268549</span>

                                <p class="item-note mainColor">待付款</p>
                            </ion-item>
                            <ion-item class="item-thumbnail-left item-avatar" style="margin-bottom: 10px;" href="#/order_Details">
                                <img src="http://qlogo3.store.qq.com/qzone/878679630/878679630/100?1416469706">

                                <h2>河马堂药膳厨房 <i class="fr icon ion-chevron-right icon-accessory"></i></h2>

                                <p style="margin: 10px 0 10px 0">2014.11.08 下午13:00</p>

                                <h2>￥98.00
                                    <button class="fr button button-calm button-small">查看</button>
                                </h2>
                            </ion-item>

                        </ion-list>
                        <ion-list >
                            <ion-item>
                                <span>订单编号：135268549</span>

                                <p class="item-note mainColor">待付款</p>
                            </ion-item>
                            <ion-item class="item-thumbnail-left item-avatar" href="#/order_Details">
                                <img src="http://a4.qpic.cn/psb?/V130AGFF2QwYbC/yVNPIvSP9qeuO6rQ6gS52RymheW4.Qmqot2Izy.hjI4!/m/dIcBAAAAAAAAnull&bo=4gDiAAAAAAABByA!&rf=photolist&t=5">

                                <h2>河马堂药膳厨房 <i class="fr icon ion-chevron-right icon-accessory"></i></h2>

                                <p style="margin: 10px 0 10px 0">2014.11.08 下午13:00</p>

                                <h2>￥98.00
                                    <button class="fr button button-calm button-small">查看</button>
                                </h2>
                            </ion-item>

                        </ion-list>
                    </ion-slide>
                </ion-slide-box>
            </ion-slide>
            <ion-slide></ion-slide>
        </ion-slide-box>
    </ion-scroll>
</ion-view>