//adtrack_add
.adtrack_add_tiltle {
  font-size: 16px;
}

.adtrack_add {
  padding: 60px 0 0 14px;
}

.adtrack_add input {
  margin-top: 3px;
  width: 440px;
  height: 30px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  padding: 3px 5px;
}

.adtrack_add p {
  color: #aaabab;
  display: inline;
}

.adtrack_add ul li {
  margin: 13px 0;



  .chlidlist_add_input {
    width: 12px;
    height: 12px;
    margin-left: 15px;
  }

}

.adtrack_add_input {
  width: 480px;
  color: red;
  ul {
    color: #333;
    input {
      width: 146px;
      margin: 0;
    }
  }
  ul li {
    color: #333;
    margin: 10px 13px 6px 0;
    float: left;

    input {
      display:block;
      padding: 0;
      margin: 0;
      height: 12px;
      width: 12px;
      float: left;
    }
    span{
      float: left;
        color: #333;
      display:block;
      margin-top: -3px;
    }
  }
  input {
    margin-left: 3px;
    padding: 3px 5px;
  }
}

.adtrack_add_tz {
      font-size: 14px;
}
.adtrack_add_gjxx{
  margin-top: 30px;

}
.adtrack_add_button {
  margin-top: 10px;
}

//childlist_add
.chlidlist_add {
  width: 900px;
  .count_content_right {
    margin: 0;
  }
  input {
    margin-right: 5px;
  }
}

.chlidlist_add ul {
  margin-top: 15px;

}

.chlidlist_add ul li {
  margin-bottom: 20px;
}

.chlidlist_add button {
  padding: 9px;
  margin-right: 5px;
  border: none;
}

//childlist_update
.chlidlist_update {
  min-width: 900px;
  .count_content_right {
    margin: 0;
  }
  input {
    margin-right: 5px;
  }
}

.chlidlist_update ul {
  margin-top: 15px;

}

.chlidlist_update ul li {
  margin-bottom: 20px;
}

.chlidlist_update button {
  padding: 10px;
  margin-right: 5px;
  border: none;
}

/*��վ�б�*/
.web_list_nav {
  background-color: #f0f0f0;
  color: #525252;
  position: fixed;
  width: 100%;
  z-index: 106;
  margin-top: 2px;
  height: 40px;
  p {
    display: inline;
    margin-left: 20px;
    line-height: 45px;

  }
}

.web_list_nav_right {
  height: 35px;
  float: right;
  margin: 5px 160px 0 0;
  ul li {
    display: block;
    float: left;
    margin: 8px 15px 0 0;
    .btn{
      padding-top: 7px;
    }
  }
  b {
    font-weight: normal;
    margin-left: 5px;
  }
  .checkbox, .radio {
    margin-top: -4px;
  }
}

#web_list_nav_input {
  width: 180px;
  display: inline-block;
  height: 30px;
  border-radius: 2px;
  line-height: 17px;
  margin: -8px -10px 0 10px;
}

.nav_btn {
  margin-top: -6px;
  height: 28px;
  border-radius: 4px;
  line-height: 10px;
  background-color: #2FABE7;
}

.nav_btn:hover,
.nav_btn:focus,
.nav_btn.focus,
.nav_btn:active,
.nav_btn .active,
.open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #01aeef;
  border-color: #01aeef;
}

.web_list_up {
  padding-top: 43px;
  .ui-grid-top-panel {
    font-weight: normal;
    color: #525252;
  }
  [class^="ui-grid-icon"]:before, [class*=" ui-grid-icon"]:before {
    margin-left: 10px;
  }
}

.web_list_up ul {
  line-height: 100px;
  margin-left: 45px;
  height: 100px;
  font-weight: bold;

}

.web_list_up ul li {
  float: left;

  margin-left: 20px;
}

.web_list_up p {
  color: #40befb;
}

.web_list_up span {

}

.web_list_mid {
  background-color: #fdfdfd;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  height: 150px;
}

.mid_left_code {
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  list-style: decimal;
  min-width: 400px;
  padding: 5px;
  background-color: white;
  word-wrap: break-word;
}

.mid_right button {
  line-height: 10px;
  width: 95px;
  height: 28px;
}

.mid_right ul {
  line-height: 20px;
  margin-left: 25px;
}

.mid_right ul li {
  list-style-type: disc;
  color: #a4a4a4;
}

.web_list_down a {
  display: block;
  background-color: #f0f0f0;
  color: #838383;
  font-weight: bold;
  width: 100%;
  height: 25px;
  line-height: 10px;
  border-radius: 0;
  border: 1px solid #f0f0f0;
}

.timechange_button {
  background-color: #40befb;
  height: 30px;
  line-height: 15px;
  margin-bottom: 10px;
}
.clear_button {
  background-color: #f0f0f0;
  height: 30px;
  line-height: 15px;
  margin-bottom: 10px;
  color: #787878;
}

.table_admin ul {
  line-height: 0px;
  margin-left: 10px;
  height: 170px;
  font-weight: normal;
  margin-top: -5px;
  text-align: left;
  list-style: none;

  li {
    margin: 0;
    width: 100%;

  }
}

.table_box {
  .custom_table {
    .table_admin {

    }
    margin-top: -2px;
    ul li {
      height: 100px;
      width: 100px;
      float: none;
    }
  }
}

.ui-grid-row:hover {
  .ui-grid-cell {
    background-color: #bcedfe;
  }
}

.table_admin {
  .ui-grid-cell-contents {
    cursor: pointer;
  }
  height: 32px;
  line-height: 32px;
  color: #2fabe7;


  cursor: pointer;

}

.table_admin a, a:active {
  color: #2fabe7;
}

.table_admin_color {
  color: #333;
}

.table_admin a {
  color: #2fabe7;
}


.table_admin:hover {
  color: #fd641f;
}

.table_admin a:hover {
  color: #fd641f;

}

.table_content {
  .custom_table {
    overflow: visible;
  }

}

.countrules_button {
  margin-left: 40px;
}

#Selectall {
  width: 15px;
  height: 15px;
  float: left;
  margin: 14px 0 0 15px;

}

.page_ht {
  height: 50px;
  line-height: 50px;
  width: 100%;
  vertical-align: middle;
  background-color: #eee;
  text-align: center;
  .pageshow{
    float: right;
    margin-right: 100px;
  }
  .btn_ht {
    line-height: 10px;
  }
  p {
    float: left;
    line-height: 43px;
  }

  input {
    margin-top: -4px;
    width: 28px;
    height: 24px;
    vertical-align: middle;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #eee;
    padding: 0 3px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  }

  a {
    cursor: pointer;
  }

  a, span {
    margin: 0 5px;
  }

  button {
    height: 24px;
    margin-top: -3px;
    background: #01adef;
    color: #fff;
    font-size: 12px;
    padding: 3px 10px;
    border-radius: 3px;
    line-height: 45px;
  }

}

//������-ngdialog
.ngDialog_bg {
  background-color: #2FABE7;
  width: 100px;
  height: 20px;
}

.ngdialog-tilte {
  color: white;
  background-color: #40befb;
  height: 40px;
  width: 100%;
  padding: 10px 0 10px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.ng-button-div {
  background-color: #f8f8f8;
  height: 50px;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
  margin-top: -10px;
  .ng-button {
    background: #40befb;
    color: #fff;
  }

}

.admin-ng-content {
  padding: 30px;
  overflow: hidden;
}
    .ngdialog.admin_ngdialog .ngdialog-content {
      border-radius: 10px;
      padding: 0px;
    }

.ngdialog.ngdialog-theme-default .ngdialog-close:before {
  color: white;
}
.copycode_content{
  padding: 10px 20px 20px 20px;
}
.admin-ngeventchange{
  margin-top: 30px;
  padding: 0;
}
.eventchange-button{
  background-color: white;
}
//��ҳ ÿҳ��ʾ
.ui-grid-pager-panel{
  background: none;
  border-top: 0;
  padding: 0;
  margin-top: 12px;
  margin-bottom: -38px;
  width: 100px;
  float: right;
  position: relative;
}
.ui-grid-pager-count-container{
  display: none;
}
.ui-grid-pager-control{
  display: none;
}
.ui-grid-pager-row-count-picker .ui-grid-pager-row-count-label {
  display: none;
}
.ui-grid-pager-container{
  float: right;
  margin-right: 30px;
}
//��ҳtable
.main_table{
  .ui-grid-pager-panel{
    display: none;
  }
}
.page{
  .pageshow{
    float: right;
    margin-right: 100px;
  }
}
.gesture{
  canvas{
    cursor: default;
  }
}
.page,.page_ht{
  cursor: pointer;
  .current{
    height: 24px;
    margin-top: 0px;
    background: #51c7ff;
    color: #fff;
    font-size: 12px;
    padding: 3px 9px 3px 11px;
    border-radius: 3px;
    .ng-binding{
      color:#fff;
    }
  }
  .current:visited,.current:active,.current:hover{
    background-color: #01adef;
    color:white;
  }
  button{
    margin-left: 3px;
  }

}
//pagechange_add ���ڸ�--liwenkai
.targeturl{
  margin-left: 105px;
  li{
   float: none;
    width: 315px;
  }

}
.btn-color{
  background-color: #2FABE7;
}
.step_url{
  margin-left: 50px;
  margin-top: 10px;
}
/*
.ui-grid-icon-up-dir{
  color: red;
}
.ui-grid-icon-down-dir{
  color: #01adef;
}
*/
//发送
.transformAnalysis_send{
  padding: 0px 30px;
  b{
    display:inline-block;
    padding-left: 7px;
    margin-top: -5px;

  }
  li{
    display: block;
    p{
      color: #bfbfbf;
      font-size: 12px;
      margin-left: 70px;
      font-weight: 100;
    }
    .send_day_left
    {
      margin-left: 15px;
    }
    margin: 18px 0;
    .send_input{
      width: 70%;
      display: inline-block;
    }
    .send_input_time{
      width: 40%;
      display: inline-block;
    }

    //input{
    //  margin-left: 20px;
    //}
    //ul {
    //  float: none;
    //}
    //ul li{
    //  float: left;
    //  margin: 0;
    //}
  }
  .ui-select-choices{
    li{
      margin: 0;
    }
  }
}
.childlist_add_input{
  display: inline-block;
}


/*时长转化目标*/
.time, .count {
  width: 100%;
  margin: 0 auto;
}

.time_title, .count_title {
  position: fixed;
  text-indent: 2em;
  display: block;
  line-height: 40px;
  background-color: #f0f0f0;
  width: 100%;
  height: 40px;
  color: #838383;
  z-index: 106;

}

.time_title_span {
  text-indent: 2em;
  display: block;
  line-height: 40px;
  background-color: #f0f0f0;
  width: 100%;
  height: 42px;
  color: #838383;
  z-index: 1061;

}

.nav {
  .user {
    .selectize-input input, .selectize-input .ng-scope {
      color: #777;
    }
  }
}
//刷新 exchange页面
.right_refresh_exchange{
  margin-right: 15px;
}
//兼容
.date_select{
  min-width: 940px;
}
// ui-grid中标题颜色变为白色
.ui-grid-header {
  border-bottom: 1px solid #fff;
  box-sizing: content-box;
}

.contrastlist {
  li {
    margin-top: 5px;
    white-space: nowrap;
  }
}

.ui-grid-header-viewport .ui-grid-cell-contents {
  padding: 0px;
  cursor: pointer;
}

.ui-grid-pinned-container .ui-grid-coluiGrid-003 {
  border: 0px;
}

.time_banner {
  background: url("../img/time_banner_bg.png") repeat-x;
}

.time_content {
  margin-top: 20px;
}

.time_content ul li {
  margin-top: 20px;;
}

.time_content_left {
  margin-left: 40px;
  float: left;

}

.time_content_left_input {
  width: 40px;
  height: 20px;
  display: inline;
  padding: 0;
  text-align: center;
}

.time_content_left span {
  margin: -5px 0 0 10px;
}

.time_content_right {
  display: inline-block;
  margin: 20px 0 0 30px;
}

.box {
  position: relative;
  max-width: 388px;
  line-height: 20px;
  box-shadow: 0 0 0 rgba(0, 0, 0, .0);
  border: 0px;
  color: #bababa;
  background-color: #f6f6f6;
  font-size: 12px;
  z-index: 0;
}

.popover.right.box > .arrow {
  border-width: 7px;
  left: -14px;
  top: 30%;
}
.popover.right.box.x > .arrow {
  border-width: 7px;
  left: -14px;
  top: 5%;
}


.popover.right.box > .arrow:after {
  border-right-color: #eaeaea;
  border: 0.5px solid;
}

.time_button {
  margin: 0 0 30px 30px;
  width: 90px;
  height: 30px;
  background-color: #40befb;
  line-height: 0.8px;
  color: white;
}

.time_button_exit:link {
  color: #838383;
}

.count_content_button {
  display: block;
  float: left;
  margin: -10px 10px 30px 0px;
  width: 90px;
  height: 30px;
  background-color: #40befb;
  line-height: 0.8px;
  color: white;

}

/*网站统计规则设置*/

.count_content_left span {
  display: block;
  color: #3c3c3c;
  margin: 0;
}

.count_content_left img {
  margin: 0 10px;
}

.count_content_left {
  margin-top: 10px;
  min-width: 450px;
}

.count_content ul {
  margin-top: 70px;
}

.count_title {
  top: 62px;
}

.count_left {
  margin-top: 10px;
  margin-bottom: 15px;
  width: 450px;

}

.count_left input {
  display: inline;
  max-width: 190px;
  border-radius: 0;
  height: 20px;
  padding-left: 5px;
}

.count_content_left input {
  display: inline;
  margin: 5px 0 10px 0;
  max-width: 190px;
  border-radius: 0;
  height: 30px;
  line-height: normal;
}

.count_content_left button {
  display: block;
  background-color: #f0f0f0;
  color: #838383;
  min-width: 430px;
  height: 25px;
  line-height: 10px;
  border-radius: 3px;
  border: 1px solid #f0f0f0;
}

.count_left span {
  margin: -10px 0 0 0;
}

.count_left_ip {
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  list-style: decimal;
  width: 440px;
  height: 90px;
  margin: 10px 0 0 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

.count_left_ip input {
  line-height: normal;
  margin-left: 10px;
  width: 100%;
  border: none;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.count_left ol {
  background: #f6f6f6;
  padding-left: 30px;
  border: none;

}

.count_left ol li {
  list-style: decimal;
  background: #fff;
  margin: 0px;
  line-height: 30px;
  color: #aaabab;
}

.count_content_right {
  display: inline-block;
  margin: 25px 20px 0 0;
  min-height: 100px;;
  float: right;
}

.count_content ul li {
  min-width: 880px;
  max-width: 1000px;
  overflow: hidden;
}

.count_left p {
  color: #aaabab;
  display: inline;
}

.count_last_left {
  margin-top: 20px;
  margin-bottom: 15px;
  width: 520px;
}

.count_last_right {
  display: inline-block;
  margin-left: 28px;

}
.ngdialog_label{
  float: left;
  line-height: 102px;
}
.ng-button:hover, .ng-button:focus, .ng-button.focus, .ng-button:active, .ng-button.active, .open > .dropdown-toggle.ng-button {
  background: #01aeef;
  color: #fff;
  outline: none;
}
.display{
  display: inline;
}
.pagechange_uigrid{
  .ui-grid-tree-header-row {
    font-weight: normal !important;
}
}
