<!-- 帮助 -->
<ion-view view-title="" hide-nav-bar="true" cache-view="false">

    <ion-header-bar class="item-input-inset light-bg indexbar">
        <div class="bar bar-header bar-light dishes-p ">
            <a class="button button-clear button-calm icon ion-ios-arrow-back" href="#/overview"
               style="padding: 0 15px 0 12px;"></a>

            <div class="button-bar  calm">
                <a class="button calm-border " ng-repeat="way in ways" ng-class="headerIndex ==way.code? 'button-calm':''"
                   ng-click="selectedHeader(way.code)">{{way.name}}</a>
            </div>
            <a class=" button button-clear button-calm " style="padding: 0 3px 0 10px; line-height: 38px; "
               href="#/query_order">
                查询
            </a>
        </div>
        </ion-header-bar>

        <ion-scroll class="stable-bg" style="height:100%; " cache-view="false">

            <div class="button-bar light-bg dishes" ng-if=" headerIndex != 'YZDC' ">
                <a class="button button-clear" ng-repeat="status in status_list"
                   ng-class="statusIndex == status.id ? 'current':''"
                   ng-click="selectedStatus(status.id)">{{status.name}}<i class="calm">{{status.number}}</i> </a>
            </div>

                        <ion-list ng-repeat="order in orders" style="margin-bottom: 20px">
                            <ion-item>
                                <span>订单编号：{{order.orderNo}}</span>
                                <!--
                                <p ng-class=" headerIndex=='YZDC' ? 'display_none':''" class="item-note mainColor">待付款</p>
                                -->
                            </ion-item>
                            <ion-item class="item-thumbnail-left item-avatar">

                                <img src="{{order.img}}">

                                <h2>配送地点：{{order.repastAddress}}

                                    <span class="calm" ng-class=" headerIndex!='YZDC' ? 'display_none':''">
                                        (<span ng-repeat=" dishName in  order.dishNames">
                                            {{dishName}}
                                        </span>)
                                    </span>
                                    <i ng-class=" headerIndex=='YZDC' ? 'display_none':''"
                                       class="fr icon ion-chevron-right icon-accessory"></i></h2>

                                <h2>送达时间：{{order.repastTime| date:'yyyy-MM-dd HH:mm:ss'}}</h2>

                                <h2>订单金额：{{order.price}}
                                    <button class="fr button button-calm button-small" style="padding: 0 20px;"
                                            ng-class=" headerIndex=='YZDC' ? 'display_none':''"
                                            ng-click="goToDetail(order.orderNo)">查看
                                    </button>
                                </h2>

                            </ion-item>
                        </ion-list>
    </ion-scroll>

</ion-view>
