<!-- 帮助 -->
<ion-view view-title="" hide-nav-bar="true" cache-view="false"   >

    <ion-header-bar class="item-input-inset light-bg indexbar">
        <a class="button button-clear icon ion-ios-arrow-back" href="#/overview"></a>
        <h1 class="title ">营业额</h1>
    </ion-header-bar>

    <ion-scroll class="stable-bg" style="height:100%; " cache-view="false" >

        <div class="  button-bar light-bg dishes">
            <a class="button button-clear   " ng-class="slideIndex == 0 ? 'current':''"
               ng-click="activeSlide(0)">昨日<i
                    class="calm"> ¥0</i> </a>
            <a class="button button-clear   " ng-class="slideIndex == 1 ? 'current':''"
               ng-click="activeSlide(1)">今日 <i
                    class="calm">¥0</i> </a>
            <a class="button button-clear   " ng-class="slideIndex == 2 ? 'current':''"
               ng-click="activeSlide(2)">今日 <i
                    class="calm">¥0</i> </a>
        </div>

        <ion-slide-box on-slide-changed="slideChanged(index)" active-slide="slideIndex" show-pager="false">
            <ion-slide  class="order">
                <div class="text-center padding">暂无营业额</div>
            </ion-slide>
            <ion-slide>
                <div class="text-center padding">暂无营业额</div>
            </ion-slide>
            <ion-slide>
                <div class="text-center padding">暂无营业额</div>
            </ion-slide>
        </ion-slide-box>

    </ion-scroll>
</ion-view>