<ion-view view-title="" hide-nav-bar="true" cache-view="false">
    <ion-header-bar align-title="center" class="stable-bg" style="height: 43px;">
        <a class="title calm" href="#/shop-course" style="text-decoration: none;">开店教程</a>
        <i class="buttons content button-clear" style="width: 80px; margin-top: 5px; ">
            <a href="#/news" class="tab-item has-badge">
                <div class="badge badge-assertive" style="">2</div>
                <i class="icon ion-ios-chatbubble-outline calm"></i></a>
        </i>
    </ion-header-bar>
    <ion-content style="height: 100%;  " class="home_class">
        <div class="row  light nima" id="dish" style="text-align: center;    text-decoration: none; height:22%;">
            <div class="col calm-bg light-border light padding " style="position: relative" href="#"
                 ng-click="goToDishes('dishes')">
                <div class="overview_dish_a">
                    <p class="padding">要做的菜</p>

                    <p style="font-size: 40px; ">0</p>
                </div>
            </div>

            <div class=" col  calm-bg light-border light padding " style="position: relative" href="#"
                 ng-click="goToDishes('today_order')">
                <div class="overview_dish_a">
                    <p class="padding">今日订单</p>

                    <p class="" style="font-size: 40px">0</p>
                </div>
            </div>
            <div class="col  calm-bg light padding" href="#" style="position: relative"
                 ng-click="goToDishes('tomorrow_order')">
                <div class="overview_dish_a">
                    <p class="padding">明日订单</p>

                    <p class="" style="font-size: 40px">0</p>
                </div>
            </div>

        </div>
        <div class="  " style="height:25% ;position: relative">
            <div class="overview_dish_b row">
                <a class="col  calm " style="" href="#/money">
                    <p style="padding: 10px 0 0 10px;">今日营业额</p>

                    <p class="" style="font-size: 20px; padding:5px 0 10px 10px; ">¥<i
                        style="font-size: 40px;    margin: 0 0 0 5px">0</i></p>
                </a>

                <div class="col-20 " style="padding-top: 20px;">
                    <a href="#/news" class="tab-item  has-badge ">
                        <div class="badge badge-assertive" style="">8</div>
                        <i class="icon ion-android-add-circle calm"></i></a>
                    <a href="#/news" class="tab-item  has-badge ">
                        <div class="badge badge-assertive" style="">6</div>
                        <i class="icon ion-ios-heart calm"></i></a>
                </div>
            </div>
        </div>


        <div class="row  bar-stable stable-bg " style="text-align: center;height:20% ">

            <a href="#/all_order" class="col  bar-stable item  stable-bg item-icon padding"
               style="position:relative;">
                <div class="overview_dish">
                    <i class=" button button-clear button-calm  icon ion-android-apps"></i>

                    <p>全部订单</p>
                </div>
            </a>
            <a href="#/my_income" class="col  row-center  bar-stable stable-bg item  item-icon padding">
                <div class="overview_dish">
                    <i class=" button button-clear  button-calm icon ion-social-usd"></i>

                    <p>我的收入</p></div>
            </a>
            <a href="#/customer_comment" class="col  item bar-stable stable-bg  item-icon padding">
                <div class="overview_dish">
                    <i class=" button button-clear button-calm  icon ion-chatbox-working"></i>

                    <p>饭友评价</p></div>
            </a>
        </div>
        <div class="row  bar-stable stable-bg " style="text-align: center;height:20% ">

            <div href="#/editkitchen" class="col  bar-stable item  stable-bg item-icon padding"
                 style="position:relative;">
                <div class="overview_dish">
                    <a class=" button button-clear button-calm  icon ion-ios-compose" href="#/editkitchen"></a>

                    <p>编辑厨房</p>
                </div>
            </div>
            <a ui-sref="m_dishes.nsc" class="col  row-center  bar-stable stable-bg item  item-icon padding">
                <div class="overview_dish">
                    <i class=" button button-clear  button-calm icon ion-cube"></i>

                    <p>管理菜品</p></div>
            </a>
            <a ui-sref="settings.index" class="col  item bar-stable stable-bg  item-icon padding">
                <div class="overview_dish">
                    <i class=" button button-clear  button-calm icon ion-gear-a"></i>

                    <p>设置</p></div>
            </a>
        </div>
        <!--<div class="row  bar-stable " style="text-align: center;  height:20%">-->
        <!--<div class="col  item bar-stable stable-bg  item-icon " style="position:relative;">-->
        <!--<div class="overview_dish">-->
        <!--<a class=" button button-clear button-calm  icon ion-ios-compose" href="#/editkitchen"></a>-->

        <!--<p>编辑厨房</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col   item  bar-stable stable-bg item-icon padding" ui-sref="m_dishes.nsc">-->
        <!--<div class="overview_dish">-->
        <!--<i class=" button button-clear button-calm  bar-stable stable-bg icon ion-cube"></i>-->

        <!--<p>管理菜品</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col  item bar-stable stable-bg  item-icon padding" ui-sref="settings.index">-->
        <!--<div class="overview_dish">-->
        <!--<i class=" button button-clear  button-calm icon ion-gear-a"></i>-->

        <!--<p>设置</p></div>-->
        <!--</div>-->
        <!--</div>-->


    </ion-content>
</ion-view>
<!--</ion-nav-view>-->
<div class="bar bar-footer bar-light light-border">
    <a href="tel:400-087-7000" class="title">客服电话：400-087-7000</a>
</div>

