<ion-view view-title="" hide-nav-bar="true" cache-view="false">
    <ion-header-bar align-title="center" class="stable-bg">
        <a class="title calm   " href="#/shop-course">
            <div class="overview_title">开店教程</div>
        </a>
    </ion-header-bar>


    <ion-content overflow-scroll="false" scrollbar-y="false" style="  " class="home_class" >
        <div class="row  light " id="dish" style="text-align: center;    text-decoration: none;height: 20%">
            <div class="col calm-bg light-border light  " style="position: relative" href="#"
                 ng-click="goToDishes('dishes')" >
                <div class="overview_dish_a ">
                    <div class="overview_bage"></div>
                    <p class="padding" style="top:20%">要做的菜</p>

                    <p style="font-size: 40px; ">0</p>
                </div>
            </div>

            <div class=" col  calm-bg light-border light  " style="position: relative" href="#"
                 ng-click="goToDishes('today_order')">
                <div class="overview_dish_a">
                    <div class="overview_bage"></div>
                    <p class="padding" style="">今日订单</p>

                    <p class="" style="font-size: 40px">0</p>
                </div>
            </div>
            <div class="col  calm-bg light " href="#" style="position: relative"
                 ng-click="goToDishes('tomorrow_order')">
                <div class="overview_dish_a">
                    <div class="overview_bage"></div>
                    <p class="padding" style="top: 20%;">明日订单</p>

                    <p class="" style="font-size: 40px">0</p>
                </div>
            </div>

        </div>
        <div class="  " style="position: relative;height: 20%;">
            <div class="overview_dish_b row">
                <a class="col  calm " style="" href="#/money">
                    <p style="padding: 10px 0 1% 10px; font-size: 25px;">今日营业额</p>

                    <p class="" style="font-size: 20px; padding:5px 0 30px 10px; ">¥<i
                        style="font-size: 30px;    margin: 5px 0 0 5px">0</i></p>
                </a>

                <div class="col-20 " style="padding-top: 20px;">
                    <a href="#/news" class="tab-item  has-badge ">
                        <div class="badge badge-assertive" style="">8</div>
                        <i class="icon ion-android-add-circle calm"></i></a>
                    <a href="#/news" class="tab-item  has-badge ">
                        <div class="badge badge-assertive" style="">6</div>
                        <i class="icon ion-ios-heart calm"></i></a>
                </div>
            </div>
        </div>

        <div style="position: absolute;width: 100%;bottom: 8%;">
            <div class="row  bar-stable stable-bg " style="text-align: center; ">

                <a href="#/all_order" class="col  bar-stable item  stable-bg item-icon  "
                   style="position:relative;">
                    <div class="overview_dish ">
                        <i data-icon="&#xe0cd;" class="  calm "></i>

                        <p>全部订单</p>
                    </div>
                </a>
                <a href="#/my_income" class="col  row-center  bar-stable stable-bg item  item-icon ">
                    <div class="overview_dish">
                        <i class="calm icon icon-pig-money"></i>

                        <p>我的收入</p></div>
                </a>
                <a href="#/customer_comment" class="col  item bar-stable stable-bg  item-icon ">
                    <div class="overview_dish">
                        <i data-icon="&#xe086;" class=" calm  "></i>

                        <p>饭友评价</p></div>
                </a>
            </div>
            <div class="row  bar-stable stable-bg " style="text-align: center; ">

                <!--<a href="#/editkitchen" class="col  bar-stable item  stabp[le-bg item-icon padding" >-->
                <!--<div class="overview_dish">-->
                <!--<a class=" button button-clear button-calm  icon ion-ios-compose" href="#/editkitchen"></a>-->

                <!--<p>编辑厨房</p>-->
                <!--</div>-->
                <!--</a>-->
                <a href="#/editkitchen" class="col  item bar-stable stable-bg  item-icon ">
                    <div class="overview_dish">
                        <i data-icon="&#xe0ee;" class="calm "></i>

                        <p>编辑厨房</p></div>
                </a>
                <a ui-sref="m_dishes.nsc" class="col  row-center  bar-stable stable-bg item  item-icon ">
                    <div class="overview_dish">
                        <i data-icon="&#xe01b;" class="calm "></i>

                        <p>管理菜品</p></div>
                </a>
                <a ui-sref="settings.index" class="col  item bar-stable stable-bg  item-icon ">
                    <div class="overview_dish">
                        <i data-icon="&#xe051; " class=" calm"></i>

                        <p>设置</p></div>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
<!--</ion-nav-view>-->
<div class="bar bar-footer bar-light light-border">
    <a href="tel:400-087-7000" class="title">客服电话：400-087-7000</a>
</div>
<div class="index_course" ng-hide="CourseNone">
    <div ng-hide="GuideFirst">
        <div class="guide_circle">
            <img src="img/circle.png ">
        </div>
        <div class="guide_first">
            <img src="img/guidefirst.png ">
        </div>
        <a class="button-small button bar-balanced button-outline" ng-click="CourseClose()">关闭页面</a>
    </div>
    <div class="guide_second_content" ng-hide="GuideSecond">
        <div class="guide_second_top">
            <a href="#/shop-course" ng-click="GuideBack()"> <img src="img/guideback.png "></a>
            <span> <img src="img/guideclose.png " ng-click="GuideClose()"></span>

        </div>
        <div class="guide_second ">
            <div style="margin-left:30%;">
                <img src="img/guidesecond.png ">
            </div>
            <div class="row">
                <div class="guide_circle col" ng-click="GuideSecondCircle()">
                    <img src="img/circlesecond.png ">
                </div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
        </div>
    </div>
    <div class="guide_second_content guide_third_content" ng-hide="GuideThird">
        <div class="guide_second_top">
            <a href="#/shop-course" ng-click="GuideBack()"> <img src="img/guideback.png "></a>
            <span> <img src="img/guideclose.png " ng-click="GuideClose()"></span>
        </div>
        <div class="guide_second ">
            <div style="text-align: center">
                <img src="img/guidethird.png ">
            </div>
            <div class="row">
                <div class="col"></div>
                <div class=" guide_circle col" ng-click="GuideThirdCircle()"><img src="img/circlesecond.png "></div>
                <div class="col"></div>
            </div>
        </div>
    </div>
</div>

