<ion-view view-title="菜品库存" class="calm" cache-view="false" data-ng-init="load()">

    <ion-nav-buttons side="left">
        <button class="button button-clear button-calm" data-ng-click="goState('m_dishes.' + backType)"><i
            class="icon ion-ios-arrow-back"></i></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a class="button button-clear button-calm" data-ng-disabled="isActive" data-ng-click="doCheckStock()">保存</a>
    </ion-nav-buttons>

    <ion-content style="padding-top: 5px;">
        <div class="button-bar light-bg dishes">
            <a class="button button-clear" ui-sref="m_dishes_jr_stock({backType: backType})">今日余量</a>
            <a class="button button-clear current">每日固定库存</a>
        </div>
        <ion-list>
            <ion-item class="item-divider">拿手菜余量</ion-item>
            <ion-item ng-repeat="item in nscItems" class="light-bg">&nbsp;&nbsp;{{item.name}}
                          <span style=" border-radius: 5px;" class="item-note item-input-wrapper">
                                   <i class="icon ion-minus placeholder-icon calm" ng-click="subStock(item)"></i>
                                   <input  type="text"
                                          style="width: 30px;  background:#eee; text-align: center"
                                          data-ng-model="item.stock"
                                          you-fan-number=""
                                          you-fan-size="4">
                                   <i class="icon ion-plus placeholder-icon calm" ng-click="plusStock(item)"></i>
                               </span>
            </ion-item>
            <ion-item class="item-divider">小饭桌余量</ion-item>
            <ion-item ng-repeat="item in xfzItems" class="light-bg">&nbsp;&nbsp;{{item.name}}
                          <span style=" border-radius: 5px;" class="item-note item-input-wrapper">
                                   <i class="icon ion-minus placeholder-icon calm" ng-click="subStock(item)"></i>
                                   <input type="text"
                                          style="width: 30px;  background:#eee; text-align: center"
                                          data-ng-model="item.stock"
                                          you-fan-number=""
                                          you-fan-size="4">
                                   <i class="icon ion-plus placeholder-icon calm" ng-click="plusStock(item)"></i>
                               </span>
            </ion-item>
            <ion-item class="item-divider">其他菜余量</ion-item>
            <ion-item ng-repeat="item in qtcItems" class="light-bg">&nbsp;&nbsp;{{item.name}}
                          <span style=" border-radius: 5px;" class="item-note item-input-wrapper">
                                   <i class="icon ion-minus placeholder-icon calm" ng-click="subStock(item)"></i>
                                   <input type="text"
                                          style="width: 30px;  background:#eee; text-align: center"
                                          data-ng-model="item.stock"
                                          you-fan-number=""
                                          you-fan-size="4">
                                   <i class="icon ion-plus placeholder-icon calm" ng-click="plusStock(item)"></i>
                               </span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>

