<ion-view view-title="管理菜品" cache-view="false">
    <ion-nav-buttons side="left">
        <button class="button button-clear button-calm" data-ng-click="goState('overview')"><i
            class="icon ion-chevron-left"></i></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a class=" button button-clear button-calm " ui-sref="m_dishes_jr_stock({backType: 'xfz'})">
            菜品库存
        </a>
    </ion-nav-buttons>

    <ion-content>
        <div class="button-bar light-bg dishes">
            <a class="button button-clear" ui-sref="m_dishes.nsc">拿手菜</a>
            <a class="button button-clear current">小饭桌</a>
            <a class="button button-clear" ui-sref="m_dishes.qtc">其他菜</a>
        </div>

        <ion-refresher pulling-text="下拉可以刷新" on-refresh="load()"></ion-refresher>

        <div class="item" style="padding: 10px; text-align: center;">
            <button class="button button-calm" data-ng-click="addXfz()">亲 赶快添加你的小饭桌吧</button>
        </div>
        <ion-list>
            <ion-item ng-repeat="item in items" style="margin-top: 10px;">
                <you-fan-merchant-dishes-img></you-fan-merchant-dishes-img>
                <you-fan-merchant-dishes-info></you-fan-merchant-dishes-info>
            </ion-item>
        </ion-list>
    </ion-content>

</ion-view>
