<!--<ion-tabs class=" tabs-striped tabs-top " cache-view="false" >
    <ion-tab title="拿手菜" class="calm-border" ui-sref="m_dishes.nsc">
        <ion-nav-view name="m_dishes_nsc" animation="slide-left-right"></ion-nav-view>
    </ion-tab>
    <ion-tab title="小饭桌" ui-sref="m_dishes.xfz">
        <ion-nav-view name="m_dishes_xfz" animation="slide-left-right"></ion-nav-view>
    </ion-tab>
    <ion-tab title="其他菜" ui-sref="m_dishes.qtc">
        <ion-nav-view name="m_dishes_qtc" animation="slide-left-right"></ion-nav-view>
    </ion-tab>
</ion-tabs>-->
<ion-nav-view></ion-nav-view>
