<ion-view view-title="确认订单" hide-nav-bar="true" hide-tabs class="confirm_order" cache-view="false" ng-init="loadCart()">
    <ion-header-bar class="bar bar-header">
        <button class="button icon ion-ios-arrow-left button-clear" onclick="history.back()"></button>
        <h2 class="title">确认订单</h2>
    </ion-header-bar>
    <form ng-submit="toPay()">
        <ion-content>
            <div class="list">
                <ion-item class="item-icon-right" href="#/tab/dining-way">
                    就餐方式
                <span class="">
                    <span ng-if="userDiningWay.address.name == null" class="alright">请选择</span>
                    <span ng-if="userDiningWay.address.name != null">
                        <p>{{userDiningWay.address.name}}</p>
                        <p>{{userDiningWay.address.telNo}}</p>
                        <p>{{userDiningWay.address.address}}</p>
                    </span>
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </span>
                </ion-item>
                <ion-item class="item-icon-right" ng-click="diningTime()" ng-show="userDiningWay.address.name != null">
                    就餐时间
                 <span class="item-note">{{eatTime}}
                  <i class="icon ion-chevron-right icon-accessory"></i>
                </span>
                </ion-item>
                <ion-item class="item-icon-right" ng-click="modal.show()">
                    给厨房捎句话
                 <span class="item-note">{{comments}}
                  <i class="icon ion-chevron-right icon-accessory"></i>
                </span>
                </ion-item>
                <ion-item class="item-icon-right" href="#/tab/coupons">
                    优惠券支付
                <span class="item-note">
                  1元试吃券<i class="icon ion-chevron-right icon-accessory"></i>
                </span>
                </ion-item>
                <ion-item class="item-icon-right">
                    余额支付
                <span class="item-note">
                  0元可用<i class="icon ion-chevron-right icon-accessory"></i>
                </span>
                </ion-item>
            </div>
            <div class="list order_list">
                <ion-item ng-repeat="item in cart.data" class="item-icon-right">
                    {{item.name}}x{{item.count}}
                <span class="item-note">
                  ￥{{item.totalPrice}}
                </span>
                </ion-item>
            </div>
            <div class="list order_list">
                <ion-item class="item-icon-right">
                    <span class="item-note" ng-bind="'总计: ￥' + totalPrice"></span>
                </ion-item>
                <ion-item class="item-icon-right item-avatar">
                    <img class="full-image" src="img/2.jpeg">
                    优惠券折扣
                <span class="item-note">
                  -￥11
                </span>
                </ion-item>
            </div>
        </ion-content>
        <div class="bar bar-footer bar-balanced" ng-show="IsShowBar">
            <div class="button-bar">
                <a class="button button-clear" style="border-right: 1px solid #fff;">
                    <i class="ion-android-cart"></i>
                    还需支付 ￥{{remainPayedPrice}}
                </a>
                <button class="button button-clear" type="submit">去支付</button>
            </div>
        </div>
    </form>

    <div class="diningTime" ng-show="showDiningTime">
        <div class="time_wrap" ng-click="cancelDiningTime()"></div>
        <div class="modal_bottom">
            <div class="time_line"></div>
            <div class="row time_header">
                <div class="col text-left" ng-click="cancelDiningTime()">取消</div>
                <div class="col text-center"><span class="mainColor">今日&nbsp;</span>{{currentMonth}}</div>
                <div class="col text-right mainColor" ng-click="finishDiningTime()">完成</div>
            </div>
            <div class="myDiv">
                <div id="dining"><!--需要滚动的元素的父级，需要绝对定位-->
                    <ul>
                        <li>&nbsp;</li>
                        <li>&nbsp;</li>
                        <li ng-show="isShowDing">午餐</li>
                        <li>晚餐</li>
                        <li>&nbsp;</li>
                        <li>&nbsp;</li>
                    </ul>
                </div>
                <div id="time"><!--需要滚动的元素的父级，需要绝对定位-->
                    <ul>
                        <li>&nbsp;</li>
                        <li>&nbsp;</li>
                        <li ng-repeat="choiceTime in choiceTimes track by $index">{{choiceTime}}</li>
                        <li>&nbsp;</li>
                        <li>&nbsp;</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

</ion-view>
<script id="templates/remarks.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar bar-header">
            <button class="button button-clear" ng-click="modal.hide()">取消</button>
            <h1 class="title">捎句话</h1>
            <button class="button button-clear" ng-click="modal.hide()">完成</button>
        </ion-header-bar>
        <ion-content class="padding">
            <ion-list>
                <ion-item class="item-input">
                    <textarea placeholder="给厨房捎句话~" style="height: 120px" ng-bind="comments"></textarea>
                </ion-item>
                <button class="button-clear fr">140字</button>
                <div class="confirm_list" style="margin-top: 10px">
                    <button class="col col-25 col-offset-25 button-small button button-calm button-outline"
                            ng-bind="t.name" ng-click="addTasteComment(t)" ng-repeat="t in tastes"></button>
                </div>
            </ion-list>
        </ion-content>
    </ion-modal-view>
</script>
