<ion-view view-title="确认订单">
    <ion-content>
        <ion-list>
            <ion-item class="item-icon-right">
                就餐方式
                <span class="item-note">
                  请选择<i class="icon ion-chevron-right"></i>
                </span>
            </ion-item>
            <ion-item class="item-icon-right">
                给厨房捎句话
                 <span class="item-note">
                  <i class="icon ion-chevron-right"></i>
                </span>
            </ion-item>
            <ion-item class="item-icon-right">
                优惠券支付
                <span class="item-note">
                  1元试吃券<i class="icon ion-chevron-right"></i>
                </span>
            </ion-item>
            <ion-item class="item-icon-right">
                余额支付
                <span class="item-note">
                  0元可用<i class="icon ion-chevron-right"></i>
                </span>
            </ion-item>
            <ion-item class="item-icon-right">
                三君开花包（4只)x1
                <span class="item-note">
                  ￥12
                </span>
            </ion-item>
            <ion-item class="item-icon-right">
                米饭x1
                <span class="item-note">
                  ￥0
                </span>
            </ion-item>
            <ion-item class="item-icon-right">
                <span class="item-note">
                  总计：￥12
                </span>
            </ion-item>
            <ion-item class="item-icon-right item-avatar">
                <img class="full-image" src="img/2.jpeg">
                优惠券折扣
                <span class="item-note">
                  -￥11
                </span>
            </ion-item>
        </ion-list>
        <br>
        <br>
        <br>
        <div class="bar bar-footer bar-calm">
            <div class="button-bar">
                <a class="button button-clear icon ion-android-cart" style="border-right: 1px solid #fff;">还需支付 ￥1</a>
                <a class="button button-clear" href="#/tab/pay-page/0">去支付</a>
            </div>
        </div>
    </ion-content>
</ion-view>