<ion-view  view-title=""  hide-nav-bar="true" hide-tabs>
    <ion-header-bar class="bar bar-header">
        <button class="button icon ion-ios-arrow-left button-clear" onclick="history.back()"></button>
        <h2 class="title">优惠券</h2>
        <button class="button button-clear mainColor">推荐奖励</button>
    </ion-header-bar>
    <div class="bar item-input-inset bar-subheader bar-light">
        <label class="item-input-wrapper item-button-right">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="请输入优惠吗">
        </label>
    </div>
    <ion-content class="padding has-subheader">
        <ion-list>
            <ion-item class="item-icon-right item-avatar">
                <img class="full-image" src="img/2.jpeg">
                优惠券折扣
                <span class="item-note">
                  -￥11111
                </span>
            </ion-item>
        </ion-list>
    </ion-content>
    <div class="bar bar-footer bar-calm">
        <h2 class="title">
            本次不适用优惠券
        </h2>
    </div>
</ion-view>