<ion-view view-title="" hide-nav-bar="true" hide-tabs>
    <ion-header-bar class="bar-light">
        <a class="button button-clear" onclick="history.back()"><span
                class="ion-chevron-left icon-accessory"></span></a>
        <h1 class="title">寻找主厨</h1>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item>
                <button class="button button-full button-calm">
                    我要当主厨
                </button>
                <button class="button button-full button-positive">
                    推荐主厨
                </button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>