<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-light">
        <h1 class="title login">验证码登录</h1>
        <button class="button button-clear button-primary login" ng-click="verifyLogin.hide()"><span
                class="ion-close-circled"></span></button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <div class="item item-input">
                <input type="text" id="tel" name="tel" ng-model="user.tel" placeholder="输入手机号" required>
            </div>
            <div class="item item-input">
                <input type="text" id="verificationCode" name="verificationCode" ng-model="user.verificationCode"
                       placeholder="输入验证码" required>
                <button class="button bar-balanced" style="margin-right: 20px" ng-click="sendMessage()">获取验证码</button>
            </div>
            <div>
                <button class="button button-block bar-balanced" ng-click="messageLogin()">登录</button>
            </div>

            <p style="text-align: center">点击登录，即表示你同意&nbsp;&nbsp;
                <span ng-click="userAgreement.show()" style="color: coral">用户协议</span>
            </p>
            <!--绝对居中偏下-->
            <!--<p class="existingAccount">已有账户？<a href="./tab-pwdlogin.html">密码登录</a></p>-->
            <p class="existingAccount">已有账户？&nbsp;&nbsp;
                <span ng-click="pwdLogin.show();verifyLogin.hide()" style="color: #0c63ee">密码登录</span>
            </p>
            <p>{{testName}}</p>
        </div>
    </ion-content>
</ion-modal-view>