<!-- 添加银行卡 -->
<ion-view view-title="修改银行卡" class="calm" cache-view="false" data-ng-init="load()">

    <ion-nav-buttons side="left">
        <button class="button button-clear button-calm" data-ng-click="goState('settings.card')"><i
            class="icon ion-chevron-left"></i></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button button-clear button-calm" data-ng-click="doCheckCard()" data-ng-disabled="isActive">
            保存
        </button>
    </ion-nav-buttons>

    <ion-content >

        <ion-item class="item item-select  " style="margin-top: 20px;" >
         <p> 银行名称：</p>
            <select style="height: 100%;width: 100%;"
                    ng-model="card.bankName"
                    ng-options="bankName for bankName in bankNames"></select>

        </ion-item>

        <ion-item class="item item-select">
            <p> 银行所在地：</p>
            <select style="height: 100%;width: 100%;"
                    ng-model="card.areaName"
                    ng-options="areaName for areaName in areaNames"></select>

        </ion-item>
        <ion-item class=" item item-input "  style="margin-top: 20px;">
            <input type="text" style="width: 95%; padding-right: 5%;height: 45px;"
                   placeholder="输入你的开户行" data-ng-model="card.cardName"/>
        </ion-item>
        <ion-item class=" item item-input " style="margin-bottom: 20px;">
            <input type="text" style="width: 95%; padding-right: 5%;height: 45px;"
                   placeholder="输入你的银行卡" data-ng-model="card.cardNumber"/>
        </ion-item>


        <ion-item class=" item item-input "  style="margin-top: 20px;">
            <input type="text" style="width: 95%; padding-right: 5%;height: 45px;"
                   placeholder="输入你的姓名" data-ng-model="card.identityName"/>
        </ion-item>
        <ion-item class=" item item-input " style="margin-bottom: 20px;">
            <input type="text" style="width: 95%; padding-right: 5%;height: 45px;"
                   placeholder="输入你的身份证号码或护照号码" data-ng-model="card.identityNumber"/>
        </ion-item>
    </ion-content>

</ion-view>
