<!-- 添加银行卡 -->
<ion-view view-title="修改银行卡" class="calm" cache-view="false" data-ng-init="load()">

    <ion-nav-buttons side="left">
        <button class="button button-clear button-calm" data-ng-click="goState('settings.card')"><i
            class="icon ion-ios-arrow-back"></i></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button button-clear button-calm" data-ng-click="doCheckCard()" data-ng-disabled="isActive">
            修改
        </button>
    </ion-nav-buttons>

    <ion-content class="padding">

        <div class="list">

            <select style="height: 45px;width: 100%;"
                    ng-model="card.bankName"
                    ng-options="bankName for bankName in bankNames"></select>

        </div>

        <div class="list">

            <select style="height: 45px;width: 100%;"
                    ng-model="card.areaName"
                    ng-options="areaName for areaName in areaNames"></select>

        </div>

        <div class="list" style="border: 1px solid gray;">
            <input type="text"
                   style="border-bottom: 1px solid gray; width: 95%; margin-left: 5%;padding-right: 5%;height: 45px;"
                   placeholder="输入你的开户行" data-ng-model="card.cardName"/>
            <input type="text" style="width: 95%; margin-left: 5%;padding-right: 5%;height: 45px;"
                   placeholder="输入你的银行卡" data-ng-model="card.cardNumber"/>
        </div>

        <div class="list" style="border: 1px solid gray;">
            <input type="text"
                   style="border-bottom: 1px solid gray; width: 95%; margin-left: 5%;padding-right: 5%;height: 45px;"
                   placeholder="输入你的姓名" data-ng-model="card.identityName"/>
            <input type="text" style="width: 95%; margin-left: 5%;padding-right: 5%;height: 45px;"
                   placeholder="输入你的身份证号码或护照号码" data-ng-model="card.identityNumber"/>
        </div>

    </ion-content>

</ion-view>
