<!-- 我的银行卡 -->
<ion-view view-title="我的银行卡" class="calm" cache-view="false" >

    <ion-nav-buttons side="left">
        <button class="button button-clear button-calm" ui-sref="settings.index"><i
            class="icon ion-ios-arrow-back"></i></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button button-clear button-calm" ui-sref="settings.card_edit({cardId: items[0].id})"
                data-ng-if="items.length > 0">
            修改
        </button>
    </ion-nav-buttons>

    <ion-content class="stable-bg padding">

        <div style="padding: 10px; text-align: center;" data-ng-if="items.length == 0">
            <button class="button button-calm" data-ng-click="addCard()">亲 赶快添加你的银行卡吧</button>
        </div>

        <ion-list data-ng-if="items.length > 0" data-ng-repeat="item in items">
            <ion-item  class="item item-input" >

                    <span style="width: 20%; padding:15px 0;">银行:</span>

                    <span>{{item.bankName}}</span>

               </ion-item>

                <ion-item class="item item-input">

                    <span style="width: 20%; padding:15px 0;">卡号:</span>

                    <span>{{item.cardNumber}}</span>

                </ion-item>
                <ion-item class="item item-input">

                    <span style="width: 20%; padding:15px 0;">持卡人:</span>

                    <span>{{item.identityName}}</span>

                </ion-item>


        </ion-list>

    </ion-content>

    <ion-footer-bar class="bar-calm">
        <a  href="tel:40088888888" class="title" >客服电话:400-888-88888</a>
    </ion-footer-bar>
</ion-view>
